<div>
    <div class="navbar navbar-default grey darken-3 crs-footer">
        <ul class="nav navbar-nav navbar-left navbar-left-no-collapse identity-services">
            <li><a href="http://www.snomed.org/#" target="_blank">&copy; {{'crs.app.copyright' | translate}}</a></li>
            <li><a ng-href="{{link.userGuide || '#'}}" target="_blank">{{'crs.link.help' | translate}}</a></li>
            <li><a href="{{link.termOfService}}" target="_blank">{{'crs.link.tos' | translate}}</a></li>
            <li><a href="{{link.privacyPolicy}}" target="_blank">{{'crs.link.policy' | translate}}</a></li>
            <li><a href="{{link.contactUs}}" target="_blank">{{'crs.link.contact' | translate}}</a></li>
        </ul>
        <!--<button class="btn btn-primary navbar-right" style="margin:5px; padding:5px; font-size:10px;" id="myCustomTrigger" >{{'crs.link.feedback' | translate}}</button>-->
        <ul class="nav navbar-nav navbar-right identity-services">
            <li><a>web: v{{clientVersion}} | server: v{{serverVersion}}</a></li>
        </ul>
        <button type="button" class="btn btn-primary navbar-right" id="myCustomTrigger" style="margin:5px; padding:5px; font-size:10px;" onclick="FreshWidget.show();
                                    return false;">{{'crs.link.feedback' | translate}}
        </button>
    </div>
</div>
<!-- Using Freshdesk Widget for feedback -->
<script type="text/javascript">
   FreshWidget.init("", {
      "queryString": "&widgetType=popup&formTitle=SNOMED+CT+Request Service+Feedback&submitTitle=Send+Feedback&submitThanks=Thank+you+for+your+feedback&captcha=yes&searchArea=no",
      "utf8": "✓",
      "backgroundImage": "https://s3.amazonaws.com/assets.freshdesk.com/widget/help-button.png",
      "widgetType": "popup",
      "buttonType": "image",
      "buttonText": "Support",
      "buttonColor": "white",
      "buttonBg": "#00aadd",
      "alignment": "1",
      "offset": "-1500px",
      "submitThanks": "Thank you for your feedback",
      "formHeight": "500px",
      "captcha": "yes",
      "url": "https://ihtsdo.freshdesk.com"
   });
</script>
