<div>
    <div class="navbar navbar-default grey darken-3 crs-footer">
        <ul class="nav navbar-nav navbar-left navbar-left-no-collapse identity-services">
            <li><a href="https://www.ihtsdo.org/#">&copy; {{'crs.app.copyright' | translate}}</a></li>
            <li><a ng-href="{{link.userGuide || '#'}}" target="_blank">{{'crs.link.help' | translate}}</a></li>
            <li><a href="#" target="_blank">{{'crs.link.tos' | translate}}</a></li>
            <li><a href="#" target="_blank">{{'crs.link.policy' | translate}}</a></li>
            <li><a href="https://www.ihtsdo.org/#" target="_blank">{{'crs.link.contact' | translate}}</a></li>
        </ul>
        <button class="btn btn-primary navbar-right" style="margin:5px; padding:5px; font-size:10px;" id="myCustomTrigger" >{{'crs.link.feedback' | translate}}</button>
        <ul class="nav navbar-nav navbar-right identity-services">
            <li><a>web: v{{clientVersion}} | server: v{{serverVersion}}</a></li>
        </ul>
    </div>
</div>
<script type="text/javascript" src="https://jira.ihtsdotools.org/s/2ebaf932312f53221f61a6838c666674-T/en_USgrrjqp/64027/64/1.4.27/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&collectorId=d0808496"></script>
<script type="application/javascript">
    window.ATL_JQ_PAGE_PROPS = {
        "triggerFunction": function(showCollectorDialog) {
            $("#myCustomTrigger").click(function(e) {
                e.preventDefault();
                showCollectorDialog();
            });
        }
    };
</script>