$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path: "../bower_components/font-awesome/fonts";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "font-awesome/scss/font-awesome.scss";
// endbower

@import url(https://fonts.googleapis.com/css?family=Cabin+Condensed);

@import "home.scss";
@import "ihtsdo.scss";
@import "fonts.scss";
@import "edit.scss";
@import "editpanel.scss";
@import "dark.scss";
@import "light.scss";
@import "colors.scss";
@import "tables.scss";
@import "ta.scss";
@import "tooltips.scss";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


html {
  height: 100%;
}

body {
  padding: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased !important;
}

.crs-theme-wrapper {
  height: 100%;
  padding-top: 64px;
  padding-bottom: 40px;

  .content {
    overflow:auto;
    height: 100%;
  }
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 66px;
  z-index: 99;
}

footer {
  position: fixed;
  height: 40px;
  clear:both;
  bottom: 0;
  width: 100%;
  z-index: 98;

  .navbar {
    min-height: 40px;
  }
}

/* Added by PWG to work around fixed sidebar */
.crs-container {
  /*position:absolute;
  padding-top: 64px;
  bottom:0px;
  width:100%;
  height:100%;*/
  min-height: 100%;
  height:100%;
  display: table;
  width: 100%;

  .crs-column {
    /*position: relative;
    height:100%;*/
    /*overflow-y:scroll;*/
    /*margin-bottom:32px;*/
    display: table-cell;
    float: initial;
    min-height: 100%;
    padding-bottom: 10px !important;
  }
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.In.Progress.badge {
  background-color: #E68FBB;
}

.Promoted.badge {
  background-color: #F3CB67;
}

.New.badge {
  background-color: #F3CB67;
}

.In.Review.badge {
  background-color: #8bc34a;
}

.Review.Completed.badge {
  background-color: #01A2E1;
}

.Promoted.badge {
  background-color: cyan;
}

.form-control-element {
  margin-bottom: 20px;

  &.form-control-error {
    background: #f2dede;
  }
}

.requestStatus {
  &.DRAFT {
    background-color: white;
    color: black;
  }

  &.NEW {
    background-color: #F3CB67;
    color: white;
  }

  &.ACCEPTED {
    background-color: #009cd7;
    color: white;
  }

  &.REJECTED {
    background-color: #5e35b1;
    color: white;
  }

  &.CLARIFICATION_NEEDED {
    background-color: #e91e63;
    color: white;
  }

  &.APPEAL {
    background-color: #6d4c41;
    color: white;
  }
  &.WITHDRAWN {
    background-color: #757575;
    color: white;
  }
  &.UNDER_AUTHORING {
    background-color: #E68FBB;
    color: white;
  }
  &.APPROVED {
    background-color: #43A047;
    color: white;
  }
  &.APPEAL_REJECTED {
    background-color: #f57c00;
    color: white;
  }
}

@media (max-width: 1793px) {
  .nav > li > a {
    position: relative;
    display: block;
    font-size: 12px;
    padding: 10px 5px;
  }
}
@media (min-width: 1701px) {
  .nav > li > a {
    position: relative;
    display: block;
    padding: 10px 12px;
  }
}

.header-alerts {
  position: absolute;
  top: 0;
  left: 50%;
  width: 35%;
  margin-left: -7%;
  z-index: 1;
}

.batchImportStatus {
  &.COMPLETED_UPLOAD {
    background-color: #01A2E1;
    color: white;
  }

  &.ERROR {
    background-color: red;
    color: white;
  }

  &.COMPLETED_IMPORT {
    background-color: #8bc34a;
    color: white;
  }
}

.fileStatus {
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  background: #fff;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  text-align: center;
  padding: 0;
  line-height: 20px;

  &.PROCESSING_UPLOAD {
    color: #01A2E1;
  }

  &.PROCESSING_IMPORT {
    color: #8bc34a;
  }

  &.COMPLETED_UPLOAD {
    color: #01A2E1;
  }

  &.ERROR {
    color: red;
  }
  &.COMPLETED_IMPORT {
    color: #8bc34a;
  }
}

.row-selected, .file-selected {
  background-color: rgb(199, 238, 253) !important;
}

.batch-preview-tabs {
  li {
    width: 16.66666667% !important;

    a {
      border-radius: 0;
      font-size: 11px !important;
      padding: 7px 0 !important;
      cursor: pointer;
    }
  }
}

.importing-request-error {
  background-color: #F3CB67;
}

.batch-preview-table table td {
  min-width: 160px;
}

.table-requests .ng-table-header {
  white-space: nowrap;
}

input[type=checkbox].small-checkbox {
  margin-top: 4px;
  position: relative;

  &:after {
    width: 18px;
    height: 18px;
  }

  &:checked:before {
    top: 0px;
    left: 7px;
    width: 5px;
    height: 10px;
  }
}

.batch-import-confirm-modal.modal-body {
  span {
    font-weight: bold;
    font-size: 15px;
    padding-left: 5px;
  }
}

.loadingMask {
  position: absolute;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent;
  z-index: 99999;
}

author-input ul.dropdown-menu {
  width: 100%;
  max-height: 300px;
  overflow: auto;
}

ul.batch-statistic.timeline {
  li {
    margin-bottom: 10px;

    label {
      margin-right: 10px;
    }

    span {
      font-size: 14px;
    }

    .timeline-badge {
      top: -5px;

      i {
        &.NEW {
          color: #e91e63;
        }
        &.ACCEPTED {
          color: #009cd7;
        }
        &.REJECTED {
          color: #5e35b1;
        }
        &.AUTHORING {
          color: #fdd835;
        }
        &.APPROVED {
          color: #00acc1;
        }
      }
    }
  }
}

.comment-container {
  .comment-item {
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: dotted 1px #ccc;

    .comment-head {
      margin-bottom: 10px;

      img {
        padding-bottom: 5px;
      }

      .user-name {
        font-size: 14px;
        color: #00a6e5;
      }

      .comment-date {
        font-size: 14px;
        color: #444;
      }
    }
  }
}

.navbar .navbar-right-no-collapse .notification-container.open {
  box-shadow: none;
  position: relative;
  background-color: inherit;
}
.notification-container {
  color: #444;

  .dropdown-toggle {
    &.has-message {
      color: #fff;
    }

    span.message-badge {
      background: #EF5350;
      padding: 1px 3px!important;
      font-size: 10px;
      color: #fff;
      position: absolute;
      display: inline-block;
      top: 0;
      right: 0;
      /* height: 10px; */
      line-height: initial;
    }
  }

  &.open {
    .dropdown-toggle {
        background-color: #535353;
        color: #fff;
    }

    .dropdown-menu {
      right: -10px;
      margin-top: 10px;
      min-width: 450px;
      max-width: 500px;
      border-radius: 4px;
      padding: 0;

      .message-header {
        padding: 10px;
        background-color: #eee;
        border-bottom: solid 1px #ccc;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;

        .message-title {
          font-weight: 600;
        }

        .message-action {
        }
      }

      ul.message-body {
        list-style: none;
        max-height: 450px;
        overflow: auto;
        padding: 0;
        line-height: initial;
      }

      li.message-item {
        padding: 10px;
        cursor: pointer;
        position: relative;

        &:not(:last-child) {
          border-bottom: dotted 1px #ccc;
        }

        &.unread {
          background-color: #fffeee;
        }
        
        &:hover {
          background: #fefefe;
        }

        .message-detail-header {
          margin-bottom: 10px;
          font-weight: 600;
        }
        .message-detail-content {
          margin-bottom: 10px;
        }
        .message-detail-date {
          color: #999;
        }
      }

      &:before {
        content: " ";
        display: block;
        width: 20px;
        height: 20px;
        top: -18px;
        position: absolute;
        right: 18px;
        border: solid 10px transparent;
        border-bottom: solid 10px #eee;
      }
    }
  }
}