<div class="container" style="padding-right: 45px">
    <div class="col-md-12">

        <div class="alert alert-success" ng-show="request.msgSuccess">{{request.msgSuccess}}</div>
        <div class="alert alert-danger" ng-show="request.msgError">{{request.msgError}}</div>

        <form class="form-floating">

            <div class="form-group">
                <label for="">New Concept FSN</label>
                <input class="form-control" type="text" ng-model="request.request.fsn"/>
                <br>

                <label for="">Preferred Term</label>
                <input class="form-control" type="text" />
                <br>

                <label for="">Synonym</label>
                <input class="form-control" type="text" />
                <br>

                <label for="">Definition</label>
                <input class="form-control" type="text" />
                <br>

                <label for="">Reason of Changes</label>
                <input class="form-control" type="text" />
                <br>

                <label for="">Notes</label>
                <textarea class="form-control" type="text" ></textarea>
                <br>

                <label for="">References</label>
                <input class="form-control" type="text" />
                <br>
            </div>
        </form>

        <div >
            <div class="col-md-4">
                <button type="button" ng-disabled="disabled" class="col-md-12 btn btn-info no-margin ">Save Request
                </button>
            </div>
            <div class="col-md-4">
                <button type="button" ng-disabled="disabled" class="col-md-12 btn btn-info no-margin ">Submit Request
                </button>
            </div>
            <div class="col-md-4">
                <button type="button" ng-disabled="disabled" class=" col-md-12 btn btn-danger no-margin ">Cancel Editing
                </button>
            </div>
        </div>
    </div>
</div>