<h3 translate="crs.request.requestType.changeRetireRelationship"></h3>
<form class="form-floating">

    <div class="form-group">
        <form-control type="text"
                      model="requestVM.request.requestorInternalId"
                      label="crs.request.details.label.requestorInternalId"
                      name="txtRequestorInternalId"></form-control>

        <div>
            <div class="form-control-element required">
                <label for="">Concept Id</label>
                <input class="form-control" type="text" ng-model="requestVM.request.conceptId"/>
            </div>
            <div class="form-control-element required">
                <label for="">Concept FSN</label>
                <input class="form-control" type="text" ng-model="requestVM.request.conceptFSN"/>
            </div>
        </div>
        <br/>

        <form-control type="text"
                      model="requestVM.request.relationshipId"
                      label="crs.request.details.label.relationshipId"
                      name="txtRelationshipId"
                      required></form-control>

        <form-control type="select"
                      model="requestVM.request.refinability"
                      options="refinability for refinability in requestVM.refinabilities"
                      label="crs.request.details.label.newRefinability"
                      name="slRefinability"></form-control>

        <!--<div class="form-control-element">
            <label for="">New Refinability</label>
            <select name="slRefinability" class="form-control"
                    ng-model="requestVM.request.refinability"
                    ng-options="refinability for refinability in requestVM.refinabilities">
            </select>
        </div>
        <br/>-->

        <form-control type="select"
                      model="requestVM.request.relationshipStatus"
                      options="relationshipStatus for relationshipStatus in requestVM.relationshipStatuses"
                      label="crs.request.details.label.relationshipStatus"
                      name="slRelationshipStatus"></form-control>

        <!--<div class="form-control-element">
            <label for="">Relationship Status</label>
            <select name="slRelationshipStatuses" class="form-control"
                    ng-model="requestVM.request.relationshipStatus"
                    ng-options="relationshipStatus for relationshipStatus in requestVM.relationshipStatuses">
            </select>
        </div>
        <br/>-->

        <form-control type="text"
                      model="requestVM.request.reasonForChange"
                      label="crs.request.details.label.reasonForChange"
                      name="txtReasonForChange"></form-control>

        <form-control type="textarea"
                      model="requestVM.request.notes"
                      label="crs.request.details.label.notes"
                      name="txtNotes"></form-control>

        <form-control type="text"
                      model="requestVM.request.reference"
                      label="crs.request.details.label.reference"
                      name="txtReference"></form-control>
    </div>
</form>