<div class="crs-container">
    <div class="row no-gutter" style="height: 100%">
        <!-- sidebar -->
        <div class="col-md-3 editpanel crs-column no-padding"
             ng-include="'components/request/request-details-sidebar.html'"
             style="height: 100%"></div>
        <!-- edit form -->
        <div class="col-md-9 editpanel crs-column no-padding"
             ng-include="'components/request/request-details-editform.html'"
             style="height: 100%"></div>
    </div>
</div>