<!-- My Requests -->
<div ng-controller="RequestListCtrl as vm">
    <section class="tables-data">
        <div class="card">
            <div class="row">
                <div class="col-md-4 no-padding">
                    <h3 class="table-title p-20" translate="crs.request.list.title"></h3>
                </div>
                <div class="col-md-6">
                    <div class="table-search">
                        <input type="text" ng-model="vm.tableParams.filter()['search']" class="form-control"
                               placeholder="{{'crs.request.list.searchPlaceHolder' | translate}}" autofocus/>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="pull-right p-t-20">
                        <button type="button" class="btn btn-round btn-info ng-scope " title="{{'crs.request.list.tip.count' | translate}}" >
                            {{vm.requests.length}} <div class="ripple-wrapper"></div>
                        </button>
                        <button type="button" class="btn btn-round btn-default " title="{{'crs.request.list.tip.create' | translate}}" ng-click="dashboard.openCreateRequestModal()">
                            <span class="md md-add"></span>
                            <div class="ripple-wrapper"></div>
                        </button>
                    </div>
                </div>
            </div>
            <div class="table-responsive white">
                <table ng-table="vm.tableParams" template-pagination="layout/template/data-table-pager.html"
                       class="table table-full table-full-small">
                    {{$data}}
                    <tr ng-repeat="request in $data">

                        <td data-title="'crs.request.list.tableHeader.batchId' | translate" sortable="'batchId'" >
                            <a class="tooltips-right" ng-href="#/batches/view/{{request.batchId}}">{{request.batchId}} <span translate="crs.request.list.tip.batchId"></span></a>
                        </td>
                        <td data-title="'crs.request.list.tableHeader.requestId' | translate" sortable="'id'" >
                            <a class="tooltips-right" ng-href="#/requests/edit/{{request.id}}">{{request.id}} <span translate="crs.request.list.tip.requestId"></span></a>
                        </td>
                        <td data-title="'crs.request.list.tableHeader.fullSpecificName' | translate" sortable="'fsn'" >
                            {{request.fsn}}
                        </td>
                        <td data-title="'crs.request.list.tableHeader.lastModified' | translate" sortable="'modifiedDate'" >
                            {{request.modifiedDate}}
                        </td>
                        <td data-title="'crs.request.list.tableHeader.requestType' | translate" sortable="'requestType'" >
                            {{request.requestType}}
                        </td>
                        <td data-title="'crs.request.list.tableHeader.status' | translate" sortable="'status'">
                                <span ng-if="request.status === 'IN_REVIEW' && !request.reviewer"
                                      class="badge {{request.status}}"> Ready for Review </span>
                                <span ng-if="request.status === 'IN_REVIEW' && request.reviewer"
                                      class="badge {{request.status}}"> {{request.status}} </span>
                                <span ng-if="request.status !== 'IN_REVIEW'"
                                      class="badge {{request.status}}"> {{request.status}} </span>
                        </td>
                    </tr>
                </table>

            </div>

        </div>
    </section>
</div>
