<h3 translate="crs.request.requestType.newConcept"></h3>
<form class="form-floating">

    <div class="form-group">
        <label for="">New Concept FSN</label>
        <input class="form-control" type="text" ng-model="requestVM.request.fsn"/>
        <br>

        <label for="">Preferred Term</label>
        <input class="form-control" type="text" />
        <br>

        <label for="">Synonym</label>
        <input class="form-control" type="text" />
        <br>

        <label for="">Definition</label>
        <input class="form-control" type="text" />
        <br>

        <label for="">Reason of Changes</label>
        <input class="form-control" type="text" />
        <br>

        <label for="">Notes</label>
        <textarea class="form-control" type="text" ></textarea>
        <br>

        <label for="">References</label>
        <input class="form-control" type="text" />
        <br>
    </div>
</form>