<h3 translate="crs.request.requestType.newConcept"></h3>
<form class="form-floating">

    <div class="form-group">
        <form-control type="text"
                      model="requestVM.request.requestorInternalId"
                      label="crs.request.details.label.requestorInternalId"
                      name="txtRequestorInternalId"></form-control>
        <div>
            <div class="form-control-element">
                <label for="">Parent Concept Id</label>
                <input class="form-control" type="text" ng-model="requestVM.request.parentId"/>
            </div>
            <div class="form-control-element">
                <label for="">Parent Concept FSN</label>
                <input class="form-control" type="text" ng-model="requestVM.request.parentFSN"/>
            </div>
        </div>
        <br/>

        <form-control type="text"
                      model="requestVM.request.proposedFSN"
                      label="crs.request.details.label.proposedFSN"
                      name="txtFSN"
                      required></form-control>
        <form-control type="text"
                      model="requestVM.request.conceptPT"
                      label="crs.request.details.label.conceptPT"
                      name="txtPT"
                      required></form-control>

        <div class="form-control-element">
            <label for="">Synonym</label>
            <input class="form-control" type="text" ng-model="requestVM.request.proposedSynonym"/>
        </div>

        <form-control type="text"
                      model="requestVM.request.proposedDefinition"
                      label="crs.request.details.label.proposedDefinition"
                      name="txtDefinition"></form-control>

        <form-control type="text"
                      model="requestVM.request.reasonForChange"
                      label="crs.request.details.label.reasonForChange"
                      name="txtReasonForChange"></form-control>

        <form-control type="textarea"
                      model="requestVM.request.notes"
                      label="crs.request.details.label.notes"
                      name="txtNotes"></form-control>

        <form-control type="text"
                      model="requestVM.request.reference"
                      label="crs.request.details.label.reference"
                      name="txtReference"></form-control>
    </div>
</form>