<div style="background-color:#474747;" >

  <ul ng-cloak style="padding: 0px; list-style: none;">

    <li><a class="dashboard-links" ng-href="#/requests"><button type="button" class="btn grey darken-3 dashboard-links" >
     <i class="md md-format-list-numbered"></i> My Submitted Requests
    </button></a></li>

      <li><a class="dashboard-links" ng-href="#/batches"><button type="button" class="btn grey darken-3 dashboard-links" >
          <i class="md md-folder"></i> My Batch Requests
      </button></a></li>

     <li><button type="button" class="btn grey darken-3 create-links" ng-click="dashboard.openCreateRequestModal()">
     <i class="md md-view-list"></i> Create New Request
    </button></li>

      <li><button type="button" class="btn grey darken-3 create-links" >
          <i class="md md-insert-drive-file"></i> New Batch Import
      </button></li>

  </ul>
</div>
