<div class="dashboard-left-hand">
    <ul class="dashboard-site-menu" ng-cloak style="padding: 0px; list-style: none;">

        <li ng-if="dashboard.permissionChecked && !dashboard.isViewer"><a class="dashboard-links" ng-href="#/requests">
            <button type="button" class="btn grey darken-3 dashboard-links" ng-class="{'activeList': (dashboard.activeList === 'requests' || ((!dashboard.isAdmin && !dashboard.isStaff) && dashboard.activeList === undefined))}" title="{{'tooltips.dashboard.sidebar.myRequest' | translate}}">
                <i class="md md-format-list-numbered"></i> {{'crs.dashboard.sidebar.myRequest' | translate}}
            </button>
        </a></li>

        <li ng-if="dashboard.permissionChecked && dashboard.isAdmin"><a class="dashboard-links" ng-href="#/my-assigned-requests">
            <button type="button" class="btn grey darken-3 dashboard-links" ng-class="{'activeList': dashboard.activeList === 'my-assigned-requests' || ((dashboard.isAdmin || dashboard.isStaff) && dashboard.activeList === undefined)}" title="{{'tooltips.dashboard.sidebar.myAssignedRequests' | translate}}">
                <i class="md md-format-list-numbered"></i> {{'crs.dashboard.sidebar.myAssignedRequests' | translate}}
            </button>
        </a></li>

        <li><a class="dashboard-links" ng-href="#/submitted-requests">
            <button type="button" class="btn grey darken-3 dashboard-links" ng-class="{'activeList': (dashboard.activeList === 'submitted-requests' || (dashboard.isViewer && dashboard.activeList === undefined))}" title="{{'tooltips.dashboard.sidebar.submittedRequest' | translate}}">
                <i class="md md-format-list-numbered"></i> {{'crs.dashboard.sidebar.submittedRequest' | translate}}
            </button>
        </a></li>

        <li ng-if="dashboard.permissionChecked && dashboard.isAdmin"><a class="dashboard-links" ng-href="#/accepted-requests">
            <button type="button" class="btn grey darken-3 dashboard-links" ng-class="{'activeList': dashboard.activeList === 'accepted-requests'}" title="{{'tooltips.dashboard.sidebar.acceptedRequest' | translate}}">
                <i class="md md-format-list-numbered"></i> {{'crs.dashboard.sidebar.acceptedRequest' | translate}}
            </button>
        </a></li>

        <li ng-if="dashboard.permissionChecked && !dashboard.isViewer"><a class="dashboard-links" ng-href="#/batches">
            <button type="button" class="btn grey darken-3 dashboard-links" ng-class="{'activeList': dashboard.activeList === 'batches'}" title="{{'tooltips.dashboard.sidebar.myBatch' | translate}}">
                <i class="md md-folder"></i> {{'crs.dashboard.sidebar.myBatch' | translate}}
            </button>
        </a></li>

        <li ng-if="dashboard.permissionChecked && !dashboard.isViewer">
            <button type="button" class="btn grey darken-3 dashboard-links create-links" ng-click="dashboard.openCreateRequestModal()" title="{{'tooltips.dashboard.sidebar.createRequest' | translate}}">
                <i class="md md-view-list"></i> {{'crs.dashboard.sidebar.createRequest' | translate}}
            </button>
        </li>

        <li ng-if="dashboard.permissionChecked && !dashboard.isViewer"><a class="dashboard-links" ng-href="#/batches/preview">
            <button type="button" class="btn grey darken-3 dashboard-links create-links" title="{{'tooltips.dashboard.sidebar.importBatch' | translate}}">
                <i class="md md-insert-drive-file"></i> {{'crs.dashboard.sidebar.importBatch' | translate}}
            </button>
        </a></li>

        <!--<li>
            <button type="button" class="btn grey darken-3 create-links" ng-click="dashboard.testIMS()">
                <i class="md md-view-list"></i> Test IMS method
            </button>
        </li>-->

    </ul>
    <div class="statistics-requests" >
        <div class="statistics-requests-list" ng-if="dashboard.permissionChecked && dashboard.isAdmin" >
            <div style="margin-bottom: 10px">
               <div class="badge blue ">
                    Submitted 
                </div>
                        
                <div class="badge turquoise">
                    My Requests
                </div>

                <div class="badge purple">
                    My Assignment
                </div>
            </div>
            <div ng-repeat="number in dashboard.statisticsRequests" class="statistics-request"  ng-cloak >
                <div class="labelSb">    
                    <span title="{{number.status | statisticsLabel | translate}}">
                        {{number.status | statisticsStatus | translate}}
                    </span>
                </div>
                 &nbsp;
                <div class="numberSb" >
                    <a class="badge blue " ng-click="dashboard.filterStatus(number.status)">
                        {{number.count}}
                    </a>
                    <div style="display: inline-flex;" ng-show="number.status !== 'ALL_REQUEST' && number.status !== 'ALL' && number.status !== 'Assigned' && number.status !== 'Unassigned' && number.status !='My_Assigned'">
                        
                        <a class="badge turquoise" ng-click="dashboard.filterMyRequest(number.status)">
                            {{number.countMyReq}}
                        </a>
                        
                        
                        <a class="badge purple" ng-click="dashboard.filterAssignedRequests(number.status)">
                            {{number.countAssignedReq}}
                        </a>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="statistics-requests-list" ng-if="dashboard.permissionChecked && dashboard.isRequester" >
            <div style="margin-bottom: 10px">
                <div class="badge turquoise">
                    My Requests
                </div>
            </div>
            <div ng-repeat="number in dashboard.statisticsRequests" class="statistics-request"  ng-cloak >
                <div class="labelSb">    
                    <span title="{{number.status | statisticsLabel | translate}}">
                        {{number.status | statisticsStatus | translate}}
                    </span>
                </div>
                   &nbsp;
                <div class= "numberSb" ng-show="number.status !== 'SUBMITTED' && number.status !== 'Assigned' && number.status !== 'Unassigned'">
                    <a class="badge turquoise" ng-click="dashboard.filterMyRequest(number.status)">
                        {{number.countMyReq}}
                    </a>
                </div>
                <div class="numberSb" ng-show="number.status == 'SUBMITTED' || number.status == 'Assigned' || number.status == 'Unassigned'">
                    <a class="badge purple" ng-click="dashboard.filterMyRequest(number.status)">
                        {{number.count}}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
