<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:aop="http://www.springframework.org/schema/aop" 
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:security="http://www.springframework.org/schema/security"
    xmlns:tx="http://www.springframework.org/schema/tx" 
    xmlns:jdbc="http://www.springframework.org/schema/jdbc"
    xmlns:jpa="http://www.springframework.org/schema/data/jpa"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
                http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
                http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
                http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
                http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
                http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
     
    <tx:annotation-driven />
    <context:annotation-config />
    <context:component-scan base-package="org.ihtsdotools.crs.dao, org.ihtsdotools.crs.api.impl" />

 	
 	<jpa:repositories base-package="org.ihtsdotools.crs.dao" />
 	
    <bean id="dataSource"
        class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName">
            <value>org.hsqldb.jdbcDriver</value>
        </property>
        <property name="url">
            <value>jdbc:hsqldb:mem:crs</value>
        </property>
        <property name="username">
            <value>sa</value>
        </property>
        <property name="password">
            <value></value>
        </property>
    </bean>
 
    <bean id="entityManagerFactory"
        class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="persistenceUnitName" value="crsdb" />
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
            	<property name="generateDdl" value="true" />
            </bean>
        </property>
        <property name="jpaProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.HSQLDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">create-drop</prop>
            </props>
        </property>
    </bean>
 
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory" />
    </bean>
    
    <bean id="newConceptRB" class="org.ihtsdotools.crs.dto.helper.NewConceptRequestBuilder">
        <constructor-arg value="NEW_CONCEPT"/>
    </bean>
    <bean id="newRelationshipRB" class="org.ihtsdotools.crs.dto.helper.NewRelationshipRequestBuilder">
        <constructor-arg value="NEW_RELATIONSHIP"/>
    </bean>
    <bean id="rbLocator" class="org.ihtsdotools.crs.dto.helper.RequestBuilderLocator" >
    	<constructor-arg>
    		<map>
    			<entry key="NEW_CONCEPT" value-ref="newConceptRB"/>
    			<entry key="NEW_RELATIONSHIP" value-ref="newRelationshipRB"/>
    		</map>
    	</constructor-arg>
    </bean>

    <bean id="requestConfigLoader" class="org.ihtsdotools.crs.dto.helper.config.RequestItemConfig">
        <constructor-arg>
            <map>
                <entry key="NEW_CONCEPT" value="classpath:requestItemConfig/NewConcept.xml"/>
                <entry key="NEW_DESCRIPTION" value="classpath:requestItemConfig/NewDescription.xml"/>
            </map>
        </constructor-arg>
    </bean>
</beans>