<div ng-controller="AcceptedRequestListCtrl as vm">
    <!-- My Requests -->
    <section ng-if="vm.isAdmin" class="accepted-table" style="width: 100%;">
        <div class="card">
            <div class="row">
                <div class="col-md-3 no-padding">
                    <h3 class="table-title p-20" translate="crs.request.list.title.acceptedRequests"></h3>
                </div>
                <div class="col-md-5">
                    <div class="table-search">
                        <input type="text" ng-keypress="vm.searchTask($event)" ng-model="vm.searchText" class="form-control" placeholder="{{'crs.request.list.searchPlaceHolder.acceptedRequests' | translate}}"
                            autofocus/>
                        <button type="button" class="btn btn-round btn-default btn-small" ng-click="vm.clearSearch()"
                                title="{{'tooltips.notification.button.clear' | translate}}">
                            <span class="md md-clear"></span>
                            <span class="button-link"></span>
                        </button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="p-t-20">
                        <button type="button" class="btn btn-round btn-info ng-scope " title="{{'crs.request.list.tip.count' | translate}}">
                            {{vm.tableParams.total()}}
                            <div class="ripple-wrapper"></div>
                        </button>
                        <button type="button" class="btn btn-round btn-default " title="{{'crs.request.list.tip.assignToStaff' | translate}}" ng-click="vm.assignSelectedRequestsToStaff()">
                            <span class="md md-assignment-ind"></span>
                            <div class="ripple-wrapper"></div>
                        </button>
                        <button type="button" class="btn btn-round btn-default " title="{{'crs.request.list.tip.assign' | translate}}" ng-click="vm.assignSelectedRequests()">
                            <span class="md md-content-paste"></span>
                            <div class="ripple-wrapper"></div>
                        </button>
                        <button type="button" class="btn btn-round btn-default " title="{{'crs.request.list.tip.unassignRequests' | translate}}" ng-click="vm.unassignSelectedRequests()">
                            <span class="md md-assignment-late"></span>
                            <div class="ripple-wrapper"></div>
                        </button>
                        <button ng-if="dashboard.permissionChecked && dashboard.isAdmin"  type="button" class="btn btn-round btn-default"  ng-click="vm.addNote()" title="{{'tooltips.request.details.info.button.addNote' | translate}}">
                            <span class="md md-event-note"></span>
                            <span class="button-link"></span>
                        </button>

                        <button ng-if="dashboard.permissionChecked && dashboard.isAdmin" type="button" class="btn btn-round btn-default " title="{{'tooltips.request.details.info.button.rejectSelectedRequests' | translate}}" ng-click="vm.rejectSelectedRequests()">
                            <span class="md md-dnd-forwardslash darken-2 iconbase"></span>
                            <div class="ripple-wrapper"></div>
                        </button>

                        <button ng-if="dashboard.permissionChecked && dashboard.isAdmin" type="button" class="btn btn-round btn-default " title="{{'tooltips.request.details.info.button.moveToOnHold' | translate}}"
                            ng-click="vm.onHoldSelectedRequests()">
                            <span class="md md-pause darken-2 iconbase"></span>
                            <div class="ripple-wrapper"></div>
                        </button>

                        <button ng-if="dashboard.permissionChecked && dashboard.isAdmin" type="button" class="btn btn-round btn-default " title="{{'tooltips.request.details.info.button.moveToWaitingForInternalInput' | translate}}"
                            ng-click="vm.waitingForInternalInputSelectedRequests()">
                            <span class="md md-input darken-2 iconbase"></span>
                            <div class="ripple-wrapper"></div>
                        </button>

                        <button ng-if="dashboard.permissionChecked && dashboard.isAdmin && vm.canForwardRequest()" type="button" class="btn btn-round btn-default " title="{{'tooltips.request.details.info.button.moveToForward' | translate}}"
                            ng-click="vm.forwardSelectedRequests()">
                            <span class="md md-forward darken-2 iconbase"></span>
                            <div class="ripple-wrapper"></div>
                        </button>

                        <button ng-if="dashboard.permissionChecked && dashboard.isAdmin" type="button" class="btn btn-round btn-default " title="{{'tooltips.request.details.info.button.moveToClarification' | translate}}"
                            ng-click="vm.pendingClarificationSelectedRequests()">
                            <span class="md md-info darken-2 iconbase"></span>
                            <div class="ripple-wrapper"></div>
                        </button>

                        <button ng-if="dashboard.permissionChecked && dashboard.isAdmin" type="button" class="btn btn-round btn-default " title="{{'tooltips.request.details.info.button.moveToInception' | translate}}"
                            ng-click="vm.inceptionElaborationSelectedRequests()">
                            <span class="md md-launch darken-2 iconbase"></span>
                            <div class="ripple-wrapper"></div>
                        </button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="selectColumns p-t-15">
                        <div id="dropbtn" onclick="myFunction()" class="dropbtn">
                            Columns
                            <span class="md md-keyboard-arrow-down"></span>
                        </div>
                        <div id="saveButton" class="saveButton" ng-click="vm.saveColumns()">
                                <button>Save</button>
                        </div>
                        <div id="myDropdown" class="dropdown-content">
                            <label>
                                <input type="checkbox" class="small-checkbox" ng-model="vm.enabledColumns.acceptedRequests.columns.batchId" /> {{'crs.request.list.tableHeader.batchId' | translate}}
                            </label>
                            <label>
                                <input type="checkbox" class="small-checkbox" ng-model="vm.enabledColumns.acceptedRequests.columns.requestId" /> {{'crs.request.list.tableHeader.requestId' | translate}}
                            </label>
                            <label>
                                <input type="checkbox" class="small-checkbox" ng-model="vm.enabledColumns.acceptedRequests.columns.concept" /> {{'crs.request.list.tableHeader.conceptFSN' | translate}}
                            </label>
                            <label>
                                <input type="checkbox" class="small-checkbox" ng-model="vm.enabledColumns.acceptedRequests.columns.jiraTicketId" /> {{'crs.request.list.tableHeader.ticketId' | translate}}
                            </label>
                            <label>
                                <input type="checkbox" class="small-checkbox" ng-model="vm.enabledColumns.acceptedRequests.columns.requestor" /> {{'crs.request.list.tableHeader.originator' | translate}}
                            </label>
                            <label>
                                <input type="checkbox" class="small-checkbox" ng-model="vm.enabledColumns.acceptedRequests.columns.createdDate" /> {{'crs.request.list.tableHeader.createdDate' | translate}}
                            </label>
                            <label>
                                <input type="checkbox" class="small-checkbox" ng-model="vm.enabledColumns.acceptedRequests.columns.modifiedDate" /> {{'crs.request.list.tableHeader.lastModified' | translate}}
                            </label>
                            <label>
                                <input type="checkbox" class="small-checkbox" ng-model="vm.enabledColumns.acceptedRequests.columns.lastStatusModifier" /> {{'crs.request.list.tableHeader.lastStatusModifier' | translate}}
                            </label>
                            <label>
                                <input type="checkbox" class="small-checkbox" ng-model="vm.enabledColumns.acceptedRequests.columns.type" /> {{'crs.request.list.tableHeader.requestType' | translate}}
                            </label>
                            <label>
                                <input type="checkbox" class="small-checkbox" ng-model="vm.enabledColumns.acceptedRequests.columns.topic" /> {{'crs.request.list.tableHeader.topic' | translate}}
                            </label>
                            <label>
                                <input type="checkbox" class="small-checkbox" ng-model="vm.enabledColumns.acceptedRequests.columns.summary" /> {{'crs.request.list.tableHeader.summary' | translate}}
                            </label>
                            <label>
                                <input type="checkbox" class="small-checkbox" ng-model="vm.enabledColumns.acceptedRequests.columns.trackerId" /> {{'crs.request.list.tableHeader.trackerId' | translate}}
                            </label>
                            <label>
                                <input type="checkbox" class="small-checkbox" ng-model="vm.enabledColumns.acceptedRequests.columns.manager" /> {{'crs.request.list.tableHeader.manager' | translate}}
                            </label>
                            <label>
                                <input type="checkbox" class="small-checkbox" ng-model="vm.enabledColumns.acceptedRequests.columns.project" /> {{'crs.request.list.tableHeader.project' | translate}}
                            </label>
                            <label>
                                <input type="checkbox" class="small-checkbox" ng-model="vm.enabledColumns.acceptedRequests.columns.assignee" /> {{'crs.request.list.tableHeader.assignee' | translate}}
                            </label>
                            <label>
                                <input type="checkbox" class="small-checkbox" ng-model="vm.enabledColumns.acceptedRequests.columns.status" /> {{'crs.request.list.tableHeader.status' | translate}}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 promoted-check-box">
                    <button class="btn btn-default" ng-class="[{'md-check-box' : vm.showUnassignedRequests}, {'md-check-box-outline-blank' : !vm.showUnassignedRequests}]" ng-click="vm.toggleShowUnassignedRequests()" style="background: transparent">
                        <span class="promoted-check-box">Show Unassigned only</span></button>
                </div>
            </div>
       
            <div class="table-responsive white" style="min-height: 416px;">
                <table ng-table="vm.tableParams" template-pagination="layout/template/review-table-pager.html" class="table table-full table-full-small table-requests" show-filter="">
                    <tr ng-repeat="request in $data" ng-click="dashboard.previewRequest(request.id)" class="clickable-row" ng-class="[{'row-selected': vm.selectedRequests.items[request.id] === true}, {'row-new': request.isModified}]">
                        <td class="col-checkbox" header="'ng-table/headers/checkbox.html'" ng-click="$event.stopPropagation()">
                            <input type="checkbox" class="small-checkbox" ng-model="vm.selectedRequests.items[request.id]" ng-click="vm.pushSelectedRequest($event, request)">
                        </td>
                        <td data-title="'crs.request.list.tableHeader.batchId' | translate" sortable="'batchRequest'" filter="vm.filterRequests.batchRequest" class="batch-id-heading" ng-if="vm.enabledColumns.acceptedRequests.columns.batchId">
                            <!--<a class="tooltips-right" ng-href="#/batches/view/{{request.batchRequest}}">{{request.batchRequest}} <span translate="crs.request.list.tip.batchId"></span></a>-->
                            {{request.batchRequest}}
                        </td>
                        
                        <td data-title="'crs.request.list.tableHeader.requestId' | translate" sortable="'id'" filter="vm.filterRequests.requestId" ng-if="vm.enabledColumns.acceptedRequests.columns.requestId">
                            {{request.id}}
                        </td>
                        
                        <td data-title="'crs.request.list.tableHeader.conceptFSN' | translate" sortable="'fsn'" filter="vm.filterRequests.fsn" ng-if="vm.enabledColumns.acceptedRequests.columns.concept">
                            <!--<a class="tooltips-right" ng-href="#/requests/edit/{{request.id}}">{{request.fsn}} <span translate="crs.request.list.tip.conceptFSN"></span></a>-->
                            {{request.fsn}}
                        </td>
                        <td data-title="'crs.request.list.tableHeader.ticketId' | translate" sortable="'jiraTicketId'" jira-link="request.jiraTicketId" filter="vm.filterRequests.jiraTicketId" ng-if="vm.enabledColumns.acceptedRequests.columns.jiraTicketId"></td>
                          <td data-title="'crs.request.list.tableHeader.originator' | translate" sortable="'requestHeader.ogirinatorId'" style="max-width:100px;" filter="vm.filterRequests.ogirinatorId" ng-if="vm.enabledColumns.acceptedRequests.columns.requestor">
                            <span ng-show="!vm.authors" class="md md-autorenew" ng-class="{'md-spin':!vm.authors}"></span>
                            <div ng-if="vm.authors" ng-bind-html="(vm.getAuthorName(request.requestHeader.ogirinatorId))?vm.getAuthorName(request.requestHeader.ogirinatorId):request.requestHeader.ogirinatorId"></div>
                        </td>
                          <td data-title="'crs.request.list.tableHeader.createdDate' | translate" class="tab"sortable="'requestHeader.requestDate'" filter="{requestDate: 'ng-table/datetime-picker-startdate.html'}"  ng-if="vm.enabledColumns.acceptedRequests.columns.createdDate">
                            {{request.requestHeader.requestDate | date:'yyyy-MM-dd'}}
                        </td>
                        <td data-title="'crs.request.list.tableHeader.lastModified' | translate" sortable="'requestHeader.requestDate'" filter="{requestDate: 'ng-table/datetime-picker-last-modified.html'}" ng-if="vm.enabledColumns.acceptedRequests.columns.modifiedDate">
                            {{request.requestHeader.statusDate | date:'yyyy-MM-dd'}}
                        </td>
                        <td data-title="'crs.request.list.tableHeader.lastStatusModifier' | translate" sortable="'requestHeader.lastStatusModifier'"
                            style="min-width: 150px" filter="vm.filterRequests.lastStatusModifier" ng-if="vm.enabledColumns.acceptedRequests.columns.lastStatusModifier">
                            <span ng-show="!vm.authors" class="md md-autorenew" ng-class="{'md-spin':!vm.authors}"></span>
                            <div ng-if="vm.authors" ng-bind-html="(vm.getAuthorName(request.requestHeader.lastStatusModifier))?vm.getAuthorName(request.requestHeader.lastStatusModifier):request.requestHeader.lastStatusModifier"></div>
                        </td>
                        <td data-title="'crs.request.list.tableHeader.requestType' | translate" sortable="'requestType'" filter="{requestType: 'ng-table/request-type-select.html'}" ng-if="vm.enabledColumns.acceptedRequests.columns.type">
                            {{request.requestType | requestType | translate}}
                        </td>
                        <td data-title="'crs.request.list.tableHeader.topic' | translate" sortable="'additionalFields.topic'" filter="vm.filterRequests.topic" ng-if="vm.enabledColumns.acceptedRequests.columns.topic">
                            {{(request.additionalFields)?request.additionalFields.topic:''}}
                        </td>
                        <td data-title="'crs.request.list.tableHeader.summary' | translate" sortable="'additionalFields.summary'" filter="vm.filterRequests.summary" ng-if="vm.enabledColumns.acceptedRequests.columns.summary">
                            {{(request.additionalFields)?request.additionalFields.summary:''}}
                        </td>

                        <td data-title="'crs.request.list.tableHeader.trackerId' | translate" sortable="'trackerId'" filter="vm.filterRequests.trackerId" ng-if="vm.enabledColumns.acceptedRequests.columns.trackerId">
                            {{request.trackerId}}
                        </td>
                        
                        <td data-title="'crs.request.list.tableHeader.manager' | translate" sortable="'requestHeader.manager'"  filter="{manager: 'ng-table/manager-select.html'}" ng-if="vm.enabledColumns.acceptedRequests.columns.manager">
                            <span ng-show="!vm.staffs" class="md md-autorenew" ng-class="{'md-spin':!vm.staffs}"></span>
                            <div ng-bind-html="(vm.getStaffName(request.requestHeader.manager))?vm.getAuthorName(request.requestHeader.manager):request.requestHeader.manager"></div>
                        </td>
                      
                        <td data-title="'crs.request.list.tableHeader.project' | translate" sortable="'requestHeader.assignedProject'"  filter="{project: 'ng-table/project-select.html'}" ng-if="vm.enabledColumns.acceptedRequests.columns.project">
                            {{request.requestHeader.assignedProject}}
                        </td>
                        <td data-title="'crs.request.list.tableHeader.assignee' | translate" sortable="'requestHeader.assignee'"  filter="{assignee: 'ng-table/assignee-select.html'}" ng-if="vm.enabledColumns.acceptedRequests.columns.assignee">
                            <span ng-show="!vm.authors" class="md md-autorenew" ng-class="{'md-spin':!vm.authors}"></span>
                            <div ng-if="vm.authors" ng-bind-html="(vm.getAuthorName(request.requestHeader.assignee))?vm.getAuthorName(request.requestHeader.assignee):request.requestHeader.assignee"></div>
                        </td>
                        <td data-title="'crs.request.list.tableHeader.status' | translate" sortable="'requestHeader.status'" ng-if="vm.enabledColumns.acceptedRequests.columns.status">
                            <span class="badge requestStatus {{request.requestHeader.status}}">{{request.requestHeader.status | requestStatus | translate}}</span>
                        </td>
                    </tr>
                </table>
                <div ng-if="vm.requests.total === 0" class="no-request-found">
                    No request found!
                </div>
            </div>
        </div>
    </section>
</div>
<script type="text/ng-template" id="ng-table/headers/checkbox.html">
    <input type="checkbox" ng-model="vm.selectedRequests.checked" class="small-checkbox" style="margin-bottom: -11px;" />
</script>
<script type="text/ng-template" id="ng-table/datetime-picker-startdate.html">
    <div class="input-group select-filter">
        <span ng-if="(vm.daterange.startDate !== undefined && vm.daterange.endDate !== undefined) && (vm.daterange.startDate !== '' && vm.daterange.endDate !== '') && (vm.daterange.startDate !== null && vm.daterange.endDate !== null)" ng-click="vm.onDateRangeChange(true)" class="md md-remove-circle" style="color: red; float: right; margin-bottom: -16px; cursor: pointer"></span>
        <input type="text" class="" ng-change="vm.onDateRangeChange()" placeholder="Dates..." readonly="" options="vm.options" name="some_name" ng-model="vm.daterange" style="background: transparent; border: none; box-shadow: inset 0 -1px 0 #ddd; font-size: 13px;" date-range-picker />
    </div>
</script>
<script type="text/ng-template" id="ng-table/datetime-picker-last-modified.html">
    <div class="input-group select-filter">
          <span ng-if="(vm.lastModifiedDateRange.startDate !== undefined && vm.lastModifiedDateRange.endDate !== undefined) && (vm.lastModifiedDateRange.startDate !== '' && vm.lastModifiedDateRange.endDate !== '') && (vm.lastModifiedDateRange.startDate !== null && vm.lastModifiedDateRange.endDate !== null)" ng-click="vm.onLastModifiedChange(true)" class="md md-remove-circle" style="color: red; float: right; margin-bottom: -16px; cursor: pointer"></span>
        <input type="text" class="" ng-change="vm.onLastModifiedChange()" placeholder="Dates..." readonly="" options="vm.options" name="some_name" ng-model="vm.lastModifiedDateRange" style="background: transparent; border: none; box-shadow: inset 0 -1px 0 #ddd; font-size: 13px;" date-range-picker /> 
    </div>
</script>
<script type="text/ng-template" id="ng-table/manager-select.html">
    <span ng-if="params.filter().manager !== undefined && params.filter().manager !== '' && params.filter().manager !== null" ng-click="params.filter().manager = null" class="md md-remove-circle" style="color: red; float: right; margin-bottom: -11px; font-size: 14px; cursor: pointer"></span>
    <form-control type="select" model="params.filter()[name]" options="suggestion.id as suggestion.title for suggestion in vm.staffs"></form-control>
</script>
<script type="text/ng-template" id="ng-table/author-select.html">
    <span ng-if="params.filter().author !== undefined && params.filter().author !== '' && params.filter().author !== null" class="md md-remove-circle" style="color: red; float: right; margin-bottom: -11px; font-size: 14px; cursor: pointer" ng-click="params.filter().author = ''"></span>
    <form-control type="select" model="params.filter()[name]" options="suggestion.id as suggestion.title for suggestion in vm.authors"></form-control>
</script>
<script type="text/ng-template" id="ng-table/assignee-select.html">
    <span ng-if="params.filter().assignee !== undefined && params.filter().assignee !== '' && params.filter().assignee !== null" class="md md-remove-circle" style="color: red; float: right; margin-bottom: -11px; font-size: 14px; cursor: pointer" ng-click="params.filter().assignee = ''"></span>
    <form-control type="select" model="params.filter()[name]" options="suggestion.id as suggestion.title for suggestion in vm.authors"></form-control>
</script>
<script type="text/ng-template" id="ng-table/project-select.html">
    <span ng-if="params.filter().project !== undefined && params.filter().project !== '' && params.filter().project !== null" class="md md-remove-circle" style="color: red; float: right; margin-bottom: -11px; font-size: 14px; cursor: pointer" ng-click="params.filter().project = ''"></span>
    <form-control type="select" model="params.filter()[name]" options="suggestion.id as suggestion.title for suggestion in vm.projects"></form-control>
</script>
<script type="text/ng-template" id="ng-table/status-select.html">
    <!-- <span ng-if="params.filter().project !== undefined && params.filter().project !== '' && params.filter().project !== null" class="md md-remove-circle" style="color: red; float: right; margin-bottom: -11px; font-size: 14px; cursor: pointer"></span> -->
    <form-control type="select" model="params.filter()[name]" options="suggestion.id as suggestion.title for suggestion in vm.requestStatus"></form-control>
</script>
<script type="text/ng-template" id="ng-table/request-type-select.html">
    <span ng-if="params.filter().requestType !== undefined && params.filter().requestType !== '' && params.filter().requestType !== null" class="md md-remove-circle" style="color: red; float: right; margin-bottom: -11px; font-size: 14px; cursor: pointer" ng-click="params.filter().requestType = ''"></span>
    <form-control type="select" model="params.filter()[name]" options="suggestion.id as suggestion.title for suggestion in vm.requestTypes"></form-control>
</script>
<script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("saveButton").classList.toggle("show");
    document.getElementById("myDropdown").classList.toggle("show");
    document.getElementById("dropbtn").classList.toggle("btn-active");
}
</script>
