<div ng-controller="AcceptedRequestListCtrl as vm">
    <!-- My Requests -->
    <section ng-if="vm.isAdmin" class="accepted-table" style="width: 100%;">
        <div class="card">
            <div class="row">
                <div class="col-md-3 no-padding">
                    <h3 class="table-title p-20" translate="crs.request.list.title.acceptedRequests"></h3>
                </div>
                <div class="col-md-2">
                    <!-- <div class="table-search">
                        <input type="text" ng-model="vm.tableParams.filter()['search']" class="form-control" placeholder="{{'crs.request.list.searchPlaceHolder.acceptedRequests' | translate}}" autofocus/>
                    </div> -->
                    <div class="p-t-20">
                        <!-- <button class="btn btn-primary pull-right" ng-disabled="!vm.tableParams.hasFilter()" ng-click="vm.tableParams.filter({})">Clear filters</button> -->
                        <!-- <button ng-click="vm.showFilter = !vm.showFilter" class="btn btn-round btn-default" title="{{'crs.request.list.tip.filter' | translate}}">
                            <span class="md md-search"></span>
                            <div class="ripple-wrapper"></div>
                        </button> -->
                        <button type="button" class="btn btn-round btn-info ng-scope " title="{{'crs.request.list.tip.count' | translate}}">
                            {{vm.tableParams.total()}}
                            <div class="ripple-wrapper"></div>
                        </button>
                        <button ng-disabled="vm.loadingProjects || vm.loadingAuthors" type="button" class="btn btn-round btn-default " title="{{'crs.request.list.tip.assignToStaff' | translate}}" ng-click="vm.assignSelectedRequestsToStaff()">
                            <span class="md md-assignment-ind"></span>
                            <div class="ripple-wrapper"></div>
                        </button>
                        <button ng-disabled="vm.loadingProjects || vm.loadingAuthors" type="button" class="btn btn-round btn-default " title="{{'crs.request.list.tip.assign' | translate}}" ng-click="vm.assignSelectedRequests()">
                            <span class="md md-content-paste"></span>
                            <div class="ripple-wrapper"></div>
                        </button>
                        <button ng-disabled="vm.loadingProjects || vm.loadingAuthors" type="button" class="btn btn-round btn-default " title="{{'crs.request.list.tip.unassignRequests' | translate}}" ng-click="vm.unassignSelectedRequests()">
                            <span class="md md-assignment-late"></span>
                            <div class="ripple-wrapper"></div>
                        </button>
                    </div>
                </div>
                <div class="col-md-2 promoted-check-box">
                    <button class="btn btn-default" ng-class="[{'md-check-box' : vm.showUnassignedRequests}, {'md-check-box-outline-blank' : !vm.showUnassignedRequests}]" ng-click="vm.toggleShowUnassignedRequests()" style="background: transparent">
                        <span class="promoted-check-box">Show Unassigned only</span></button>
                </div>
            </div>
            <div class="table-responsive white" style="min-height: 416px;">
                <table ng-table="vm.tableParams" template-pagination="layout/template/review-table-pager.html" class="table table-full-small table-requests" show-filter="">
                    <tr ng-repeat="request in $data" ng-click="dashboard.previewRequest(request.id)" class="clickable-row" ng-class="{'row-selected': vm.selectedRequests.items[request.id] === true}">
                        <td class="col-checkbox" header="'ng-table/headers/checkbox.html'" ng-click="$event.stopPropagation()">
                            <input type="checkbox" class="small-checkbox" ng-model="vm.selectedRequests.items[request.id]" ng-click="vm.pushSelectedRequest($event, request)">
                        </td>
                        <td data-title="'crs.request.list.tableHeader.batchId' | translate" sortable="'batchRequest'" filter="vm.filterRequests.batchRequest">
                            <!--<a class="tooltips-right" ng-href="#/batches/view/{{request.batchRequest}}">{{request.batchRequest}} <span translate="crs.request.list.tip.batchId"></span></a>-->
                            {{request.batchRequest}}
                        </td>
                        
                        <td data-title="'crs.request.list.tableHeader.requestId' | translate" sortable="'id'" filter="vm.filterRequests.requestId">
                            {{request.id}}
                        </td>
                        
                        <td data-title="'crs.request.list.tableHeader.conceptFSN' | translate" sortable="'fsn'" filter="vm.filterRequests.fsn">
                            <!--<a class="tooltips-right" ng-href="#/requests/edit/{{request.id}}">{{request.fsn}} <span translate="crs.request.list.tip.conceptFSN"></span></a>-->
                            {{request.fsn}}
                        </td>
                        <td data-title="'crs.request.list.tableHeader.ticketId' | translate" sortable="'jiraTicketId'" jira-link="request.jiraTicketId" filter="vm.filterRequests.jiraTicketId"></td>
                        <td data-title="'crs.request.list.tableHeader.lastModified' | translate" sortable="'requestHeader.requestDate'" filter="{requestDate: 'ng-table/datetime-picker-startdate.html'}">
                            {{request.requestHeader.requestDate | date:'yyyy-MM-dd'}}
                        </td>
                        <td data-title="'crs.request.list.tableHeader.requestType' | translate" sortable="'requestType'" filter="{requestType: 'ng-table/request-type-select.html'}">
                            {{request.requestType | requestType | translate}}
                        </td>
                        <td data-title="'crs.request.list.tableHeader.topic' | translate" sortable="'additionalFields.topic'" filter="vm.filterRequests.topic">
                            {{(request.additionalFields)?request.additionalFields.topic:''}}
                        </td>
                        <td data-title="'crs.request.list.tableHeader.summary' | translate" sortable="'additionalFields.summary'">
                            {{(request.additionalFields)?request.additionalFields.summary:''}}
                        </td>
                        <td data-title="'crs.request.list.tableHeader.manager' | translate" sortable="'requestHeader.manager'" style="min-width: 150px" filter="{manager: 'ng-table/manager-select.html'}">
                            <span ng-show="vm.loadingAuthors" class="md md-autorenew" ng-class="{'md-spin':vm.loadingAuthors}"></span>
                            <div ng-bind-html="(vm.getStaffName(request.requestHeader.manager))?vm.getAuthorName(request.requestHeader.manager):request.requestHeader.manager"></div>
                        </td>
                        <td data-title="'crs.request.list.tableHeader.originator' | translate" sortable="'requestHeader.ogirinatorId'" style="min-width: 150px" filter="vm.filterRequests.ogirinatorId">
                            <span ng-show="vm.loadingAuthors" class="md md-autorenew" ng-class="{'md-spin':vm.loadingAuthors}"></span>
                            <div ng-if="!vm.loadingAuthors" ng-bind-html="(vm.getAuthorName(request.requestHeader.ogirinatorId))?vm.getAuthorName(request.requestHeader.ogirinatorId):request.requestHeader.ogirinatorId"></div>
                        </td>
                        <td data-title="'crs.request.list.tableHeader.project' | translate" sortable="'requestHeader.assignedProject'" style="min-width: 150px" filter="{project: 'ng-table/project-select.html'}">
                            {{request.requestHeader.assignedProject}}
                        </td>
                        <td data-title="'crs.request.list.tableHeader.assignee' | translate" sortable="'requestHeader.assignee'" style="min-width: 150px" filter="{assignee: 'ng-table/assignee-select.html'}">
                            <span ng-show="vm.loadingAuthors" class="md md-autorenew" ng-class="{'md-spin':vm.loadingAuthors}"></span>
                            <div ng-if="!vm.loadingAuthors" ng-bind-html="(vm.getAuthorName(request.requestHeader.assignee))?vm.getAuthorName(request.requestHeader.assignee):request.requestHeader.assignee"></div>
                        </td>
                        <td data-title="'crs.request.list.tableHeader.status' | translate" sortable="'requestHeader.status'">
                            <span class="badge requestStatus {{request.requestHeader.status}}">{{request.requestHeader.status | requestStatus | translate}}</span>
                        </td>
                    </tr>
                </table>
                <div ng-if="vm.requests.total === 0" class="no-request-found">
                    No request found!
                </div>
            </div>
        </div>
    </section>
</div>
<script type="text/ng-template" id="ng-table/headers/checkbox.html">
    <input type="checkbox" ng-model="vm.selectedRequests.checked" class="small-checkbox" style="margin-bottom: -11px;" />
</script>
<script type="text/ng-template" id="ng-table/datetime-picker-startdate.html">
    <div class="input-group select-filter">
        <span ng-if="(vm.daterange.startDate !== undefined && vm.daterange.endDate !== undefined) && (vm.daterange.startDate !== '' && vm.daterange.endDate !== '') && (vm.daterange.startDate !== null && vm.daterange.endDate !== null)" ng-click="vm.onDateRangeChange(true)" class="md md-remove-circle" style="color: red; float: right; margin-bottom: -16px; cursor: pointer"></span>
        <input type="text" class="" ng-change="vm.onDateRangeChange()" placeholder="Dates..." readonly="" options="vm.options" name="some_name" ng-model="vm.daterange" style="background: transparent; border: none; box-shadow: inset 0 -1px 0 #ddd; font-size: 13px;" date-range-picker />
    </div>
</script>
<script type="text/ng-template" id="ng-table/manager-select.html">
    <span ng-if="params.filter().manager !== undefined && params.filter().manager !== '' && params.filter().manager !== null" ng-click="params.filter().manager = null" class="md md-remove-circle" style="color: red; float: right; margin-bottom: -11px; font-size: 14px; cursor: pointer"></span>
    <form-control type="select" model="params.filter()[name]" options="suggestion.id as suggestion.title for suggestion in vm.staffs"></form-control>
</script>
<script type="text/ng-template" id="ng-table/author-select.html">
    <span ng-if="params.filter().author !== undefined && params.filter().author !== '' && params.filter().author !== null" class="md md-remove-circle" style="color: red; float: right; margin-bottom: -11px; font-size: 14px; cursor: pointer" ng-click="params.filter().author = ''"></span>
    <form-control type="select" model="params.filter()[name]" options="suggestion.id as suggestion.title for suggestion in vm.authors"></form-control>
</script>
<script type="text/ng-template" id="ng-table/assignee-select.html">
    <span ng-if="params.filter().assignee !== undefined && params.filter().assignee !== '' && params.filter().assignee !== null" class="md md-remove-circle" style="color: red; float: right; margin-bottom: -11px; font-size: 14px; cursor: pointer" ng-click="params.filter().assignee = ''"></span>
    <form-control type="select" model="params.filter()[name]" options="suggestion.id as suggestion.title for suggestion in vm.authors"></form-control>
</script>
<script type="text/ng-template" id="ng-table/project-select.html">
    <span ng-if="params.filter().project !== undefined && params.filter().project !== '' && params.filter().project !== null" class="md md-remove-circle" style="color: red; float: right; margin-bottom: -11px; font-size: 14px; cursor: pointer" ng-click="params.filter().project = ''"></span>
    <form-control type="select" model="params.filter()[name]" options="suggestion.id as suggestion.title for suggestion in vm.projects"></form-control>
</script>
<script type="text/ng-template" id="ng-table/status-select.html">
    <!-- <span ng-if="params.filter().project !== undefined && params.filter().project !== '' && params.filter().project !== null" class="md md-remove-circle" style="color: red; float: right; margin-bottom: -11px; font-size: 14px; cursor: pointer"></span> -->
    <form-control type="select" model="params.filter()[name]" options="suggestion.id as suggestion.title for suggestion in vm.requestStatus"></form-control>
</script>
<script type="text/ng-template" id="ng-table/request-type-select.html">
    <span ng-if="params.filter().requestType !== undefined && params.filter().requestType !== '' && params.filter().requestType !== null" class="md md-remove-circle" style="color: red; float: right; margin-bottom: -11px; font-size: 14px; cursor: pointer" ng-click="params.filter().requestType = ''"></span>
    <form-control type="select" model="params.filter()[name]" options="suggestion.id as suggestion.title for suggestion in vm.requestTypes"></form-control>
</script>
