<div ng-controller="AcceptedRequestListCtrl as vm">
    <!-- My Requests -->
    <section ng-if="vm.isAdmin" class="tables-data">
        <div class="card">
            <div class="row">
                <div class="col-md-3 no-padding">
                    <h3 class="table-title p-20" translate="crs.request.list.title.acceptedRequests"></h3>
                </div>
                <div class="col-md-5">
                    <div class="table-search">
                        <input type="text" ng-model="vm.tableParams.filter()['search']" class="form-control"
                               placeholder="{{'crs.request.list.searchPlaceHolder.acceptedRequests' | translate}}" autofocus/>
                    </div>
                </div>
                <div class="col-md-2 promoted-check-box">
                    <button
                            class="btn btn-default"
                            ng-class="[{'md-check-box' : vm.showUnassignedRequests}, {'md-check-box-outline-blank' : !vm.showUnassignedRequests}]"
                            ng-click="vm.toggleShowUnassignedRequests()" style="background: transparent">
                        <span class="promoted-check-box">Show Unassigned only</span></button>
                </div>
                <div class="col-md-2">
                    <div class="pull-right p-t-20">
                        <button type="button" class="btn btn-round btn-info ng-scope " title="{{'crs.request.list.tip.count' | translate}}" >
                            {{vm.tableParams.total()}} <div class="ripple-wrapper"></div>
                        </button>
                        <button ng-disabled="vm.loadingProjects || vm.loadingAuthors" type="button" class="btn btn-round btn-default " title="{{'crs.request.list.tip.assignToStaff' | translate}}" ng-click="vm.assignSelectedRequestsToStaff()">
                            <span class="md md-assignment-ind"></span>
                            <div class="ripple-wrapper"></div>
                        </button>

                        <button ng-disabled="vm.loadingProjects || vm.loadingAuthors" type="button" class="btn btn-round btn-default " title="{{'crs.request.list.tip.assign' | translate}}" ng-click="vm.assignSelectedRequests()">
                            <span class="md md-content-paste"></span>
                            <div class="ripple-wrapper"></div>
                        </button>
                    </div>
                </div>
            </div>
            <div class="table-responsive white">
                <table ng-table="vm.tableParams" template-pagination="layout/template/review-table-pager.html"
                       class="table table-full table-full-small table-requests">
                    <tr ng-repeat="request in $data" ng-click="dashboard.previewRequest(request.id)" class="clickable-row" ng-class="{'row-selected': vm.selectedRequests.items[request.id] === true}">

                        <td class="col-checkbox" header="'ng-table/headers/checkbox.html'" ng-click="$event.stopPropagation()">
                            <input type="checkbox" class="small-checkbox" ng-model="vm.selectedRequests.items[request.id]" ng-click="vm.pushSelectedRequest($event, request)">
                        </td>

                        <td data-title="'crs.request.list.tableHeader.batchId' | translate" sortable="'batchRequest'" >
                            <!--<a class="tooltips-right" ng-href="#/batches/view/{{request.batchRequest}}">{{request.batchRequest}} <span translate="crs.request.list.tip.batchId"></span></a>-->
                            {{request.batchRequest}}
                        </td>
                        <td data-title="'crs.request.list.tableHeader.conceptFSN' | translate" sortable="'fsn'" >
                            <!--<a class="tooltips-right" ng-href="#/requests/edit/{{request.id}}">{{request.fsn}} <span translate="crs.request.list.tip.conceptFSN"></span></a>-->
                            {{request.fsn}}
                        </td>
                        <td data-title="'crs.request.list.tableHeader.ticketId' | translate" sortable="'jiraTicketId'" jira-link="request.jiraTicketId"></td>
                        <td data-title="'crs.request.list.tableHeader.lastModified' | translate" sortable="'requestHeader.requestDate'" >
                            {{request.requestHeader.requestDate | date:'MM-dd-yyyy'}}
                        </td>
                        <!--<td data-title="'crs.request.list.tableHeader.requestType' | translate" sortable="'requestType'" >
                            {{request.requestHeader.requestType | requestType | translate}}
                        </td>-->
                        <td data-title="'crs.request.list.tableHeader.topic' | translate" sortable="'additionalFields.topic'" >
                            {{(request.additionalFields)?request.additionalFields.topic:''}}
                        </td>
            
                        <td data-title="'crs.request.list.tableHeader.manager' | translate" sortable="'requestHeader.manager'" style="min-width: 150px">
                            <span ng-show="vm.loadingAuthors" class="md md-autorenew" ng-class="{'md-spin':vm.loadingAuthors}"></span>
                            <div ng-bind-html="vm.getStaffName(request.requestHeader.manager)"></div>
                        </td>

                        <td data-title="'crs.request.list.tableHeader.originator' | translate" sortable="'requestHeader.ogirinatorId'" style="min-width: 150px">
                            <span ng-show="vm.loadingAuthors" class="md md-autorenew" ng-class="{'md-spin':vm.loadingAuthors}"></span>
                            <div ng-if="!vm.loadingAuthors" ng-bind-html="vm.getAuthorName(request.requestHeader.ogirinatorId)"></div>
                        </td>

                        <td data-title="'crs.request.list.tableHeader.project' | translate" sortable="'requestHeader.assignedProject'" style="min-width: 150px" >
                            {{request.requestHeader.assignedProject}}
                        </td>

                        <td data-title="'crs.request.list.tableHeader.assignee' | translate" sortable="'requestHeader.assignee'" style="min-width: 150px">
                            <span ng-show="vm.loadingAuthors" class="md md-autorenew" ng-class="{'md-spin':vm.loadingAuthors}"></span>
                            <div ng-if="!vm.loadingAuthors" ng-bind-html="vm.getAuthorName(request.requestHeader.assignee)"></div>
                        </td>

                        <!--<td data-title="'crs.request.list.tableHeader.validationResult' | translate" sortable="'currentValidationStatus'" style="text-align: center">
                            <a class="tooltips-left" >
                                <button ng-show="request.currentValidationStatus"
                                        type="button"
                                        class="btn btn-round btn-default lighten-2 red" >
                                    <div class="md md-school "></div>  <span class="red">{{request.currentValidationStatus}}</span>
                                </button>

                            </a>
                        </td>-->

                        <td data-title="'crs.request.list.tableHeader.status' | translate" sortable="'requestHeader.status'">
                            <span class="badge requestStatus {{request.requestHeader.status}}">{{request.requestHeader.status | requestStatus | translate}}</span>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </section>
</div>
<script type="text/ng-template" id="ng-table/headers/checkbox.html">
</script>