<div id="createRequestMModal">


    <div class="modal-header">
        <button type="button" class="close" ng-click="modal.closeModal()">&times;</button>
        <h4 class="modal-title" translate="crs.request.requestStatusModal.title.{{modal.requestStatus}}"></h4>
    </div>

    <div class="modal-body">
        <div class="col-md-12">
            <form class="form-floating">
                <div class="form-group">
                    <!--<form-control type="textangular"
                          model="modal.appealComment"
                          label="crs.request.appealModal.comment.label"
                          ta-toolbar="[['bold','italics', 'ul', 'ol', 'createLink']]"></form-control>-->
                    <form-control type="textarea"
                          ng-if="modal.requestStatus !== 'inInceptionElaboration' && modal.requestStatus !== 'changeOriginatingOrganization' && modal.requestStatus !== 'changeCollaborationAgreement'"
                          model="modal.comment"
                          label="crs.request.requestStatusModal.comment.{{(modal.requestStatus === 'inInceptionElaboration' || modal.requestStatus === 'changeSNOMEDCode')?modal.requestStatus:'label'}}"></form-control>
                    <form-control type="text"
                          ng-if="modal.requestStatus === 'inInceptionElaboration'"
                          model="modal.comment.contentRequestUrl"
                          label="crs.request.requestStatusModal.comment.{{modal.requestStatus}}"></form-control>
                    <form-control type="text"
                          ng-if="modal.requestStatus === 'inInceptionElaboration'"
                          model="modal.comment.trackerId"
                          label="crs.request.requestStatusModal.comment.trackerId"></form-control>

                    <form-control type="select"
                          ng-if="modal.requestStatus === 'changeOriginatingOrganization' || modal.requestStatus === 'changeCollaborationAgreement'"
                          model="modal.comment"
                          label="crs.request.details.label.{{modal.requestStatus}}"
                          options="suggestion.value as suggestion.value for suggestion in modal.data"></form-control>

                    <div ng-if="modal.requestStatus === 'ON_HOLD' || modal.requestStatus === 'INTERNAL_INPUT_NEEDED'">
                        <div class="form-control-element">
                            <input type="checkbox" ng-model="modal.internal">
                            <label>Internal</label>
                        </div>
                    </div>
                </div>
                <br/>
            </form>
        </div>

        <div class="col-md-12 alert alert-success" ng-show="modal.msgSuccess" translate="{{modal.msgSuccess}}"></div>
        <div class="col-md-12 alert alert-danger" ng-show="modal.msgError" translate="{{modal.msgError}}"></div>
    </div>

    <div class="modal-footer">
        <div class="col-md-6">
            <button type="button" ng-disabled="disabled" class="col-md-12 btn btn-info no-margin "
                    ng-click="modal.changeRequestStatus()" translate="crs.request.requestStatusModal.button.confirm" title="{{'crs.request.requestStatusModal.button.confirm' | translate}}">
            </button>
        </div>
        <div class="col-md-6">
            <button type="button" ng-disabled="disabled" class=" col-md-12 btn btn-danger no-margin "
                    ng-click="modal.closeModal()" translate="crs.request.requestStatusModal.button.cancel" title="{{'crs.request.requestStatusModal.button.cancel' | translate}}">
            </button>
        </div>
    </div>

</div>

