<div ng-controller="RequestListCtrl as vm">
    <!-- My Requests -->
    <section ng-cloak ng-if="vm.assignedRequestTableParams && !vm.isViewer" class="tables-data">
        <div class="card">
            <div class="row">
                <div class="col-md-4 no-padding">
                    <h3 class="table-title p-20" translate="crs.request.list.title.myAssignedRequests"></h3>
                </div>
                <div class="col-md-3">
                    <!-- <div class="table-search">
                        <input type="text" ng-model="vm.assignedRequestTableParams.filter()['search']" class="form-control"
                               placeholder="{{'crs.request.list.searchPlaceHolder.myRequests' | translate}}" autofocus/>
                    </div> -->
                </div>
                <div class="col-md-2 promoted-check-box">
                    <button class="btn btn-default" ng-class="[{'md-check-box' : vm.showClosedRequests}, {'md-check-box-outline-blank' : !vm.showClosedRequests}]" ng-click="vm.toggleShowClosedRequests('my-assigned-requests')" style="background: transparent">
                        <span class="promoted-check-box">Show Closed Requests</span></button>
                </div>
                <div class="col-md-3">
                    <div class="pull-right p-t-20">
                        <!-- <button ng-click="vm.showFilter = !vm.showFilter" class="btn btn-round btn-default" title="{{'crs.request.list.tip.filter' | translate}}">
                            <span class="md md-search"></span>
                            <div class="ripple-wrapper"></div>
                        </button> -->
                        <button type="button" class="btn btn-round btn-info ng-scope " title="{{'crs.request.list.tip.count' | translate}}" >
                            {{vm.assignedRequestTableParams.total()}} <div class="ripple-wrapper"></div>
                        </button>
                        <button type="button" class="btn btn-round btn-default " title="{{'crs.request.list.tip.create' | translate}}" ng-click="dashboard.openCreateRequestModal()">
                            <span class="md md-add"></span>
                            <div class="ripple-wrapper"></div>
                        </button>
                        <button class="btn btn-round btn-default"  ng-click="vm.assignSelectedRequests()" title="{{'tooltips.request.details.info.button.assign' | translate}}">
                            <span class="md md-content-paste"></span>
                            <span class="button-link"></span>
                        </button>
                    </div>
                </div>
            </div>
            
           
            <div class="table-responsive white" style="min-height: 416px;">
                <table ng-table="vm.assignedRequestTableParams" template-pagination="layout/template/review-table-pager.html"
                       class="table table-full table-full-small table-requests" show-filter="">
                    <tr ng-repeat="request in $data" ng-click="dashboard.previewRequest(request.id)" class="clickable-row" ng-class="{'row-selected': vm.selectedRequests.items[request.id] === true}">
                        <td class="col-checkbox" header="'ng-table/headers/checkbox.html'" ng-click="$event.stopPropagation()">
                            <input type="checkbox" class="small-checkbox" ng-model="vm.selectedMyAssignedRequests.items[request.id]">
                        </td>

                        <td data-title="'crs.request.list.tableHeader.batchId' | translate" sortable="'batchRequest'" filter="vm.filterRequests.batchRequest">
                            <!--<a class="tooltips-right" ng-href="#/batches/view/{{request.batchRequest}}">{{request.batchRequest}} <span translate="crs.request.list.tip.batchId"></span></a>-->
                            {{request.batchRequest}}
                        </td>

                        <td data-title="'crs.request.list.tableHeader.requestId' | translate" sortable="'id'" filter="vm.filterRequests.requestId">
                            {{request.id}}
                        </td>
                        
                        <td data-title="'crs.request.list.tableHeader.conceptFSN' | translate" sortable="'fsn'" filter="vm.filterRequests.fsn">
                            <!--<a class="tooltips-right" ng-href="#/requests/edit/{{request.id}}">{{request.fsn}} <span translate="crs.request.list.tip.conceptFSN"></span></a>-->
                            {{request.fsn}}
                        </td>
                        <td data-title="'crs.request.list.tableHeader.ticketId' | translate" sortable="'jiraTicketId'" filter="vm.filterRequests.jiraTicketId" jira-link="request.jiraTicketId"></td>
                        <td data-title="'crs.request.list.tableHeader.createdDate' | translate" sortable="'requestHeader.requestDate'" filter="{requestDate: 'ng-table/datetime-picker-startdate.html'}" >
                            {{request.requestHeader.requestDate | date:'yyyy-MM-dd'}}
                        </td>
                        <td data-title="'crs.request.list.tableHeader.requestType' | translate" sortable="'requestType'" filter="{requestType: 'ng-table/request-type-select.html'}">
                            {{request.requestType | requestType | translate}}
                        </td>
                        <td data-title="'crs.request.list.tableHeader.topic' | translate" sortable="'additionalFields.topic'" filter="vm.filterRequests.topic">
                            {{(request.additionalFields)?request.additionalFields.topic:''}}
                        </td>
                        <td data-title="'crs.request.list.tableHeader.summary' | translate" sortable="'additionalFields.summary'" >
                            {{(request.additionalFields)?request.additionalFields.summary:''}}
                        </td>
                        <td data-title="'crs.request.list.tableHeader.originator' | translate" sortable="'requestHeader.ogirinatorId'" style="min-width: 150px" filter="vm.filterRequests.ogirinatorId">
                            <span ng-show="vm.loadingAuthors" class="md md-autorenew" ng-class="{'md-spin':vm.loadingAuthors}"></span>
                            <div ng-if="!vm.loadingAuthors" ng-bind-html="(vm.getAuthorName(request.requestHeader.ogirinatorId))?vm.getAuthorName(request.requestHeader.ogirinatorId):request.requestHeader.ogirinatorId"></div>
                        </td>

                        <td data-title="'crs.request.list.tableHeader.status' | translate" sortable="'requestHeader.status'" filter="{status: 'ng-table/status-select.html'}">
                            <span class="badge requestStatus {{request.requestHeader.status}}">{{request.requestHeader.status | requestStatus | translate}}</span>
                        </td>
                    </tr>
                </table>
                <div ng-if="vm.requests.total === 0" class="no-request-found">
                    No request found!
                </div>
            </div>
        </div>
    </section>
</div>
<script type="text/ng-template" id="ng-table/headers/checkbox.html">
    <input type="checkbox" ng-model="vm.selectedMyAssignedRequests.checked" class="select-all-rqs" />
</script>
<script type="text/ng-template" id="ng-table/datetime-picker-startdate.html">
    <div class="input-group select-filter">
          <span ng-if="(vm.daterangeMAR.startDate !== undefined && vm.daterangeMAR.endDate !== undefined) && (vm.daterangeMAR.startDate !== '' && vm.daterangeMAR.endDate !== '') && (vm.daterangeMAR.startDate !== null && vm.daterangeMAR.endDate !== null)" ng-click="vm.onDateRangeChangeMAR(true)" class="md md-remove-circle" style="color: red; float: right; margin-bottom: -16px; cursor: pointer"></span>
        <input type="text" class="" ng-change="vm.onDateRangeChangeMAR()" placeholder="Dates..." readonly="" options="vm.options" name="some_name" ng-model="vm.daterangeMAR" style="background: transparent; border: none; box-shadow: inset 0 -1px 0 #ddd; font-size: 13px;" date-range-picker /> 
    </div>
</script>
<script type="text/ng-template" id="ng-table/status-select.html">
    <span ng-if="params.filter().status !== undefined && params.filter().status !== '' && params.filter().status !== null" ng-click="params.filter().status = ''" class="md md-remove-circle" style="color: red; float: right; margin-bottom: -11px; font-size: 14px; cursor: pointer"></span>
    <form-control type="select"
                  model="params.filter()[name]"
                  options="suggestion.id as suggestion.title for suggestion in vm.requestStatus"
                  ></form-control>
</script>
<script type="text/ng-template" id="ng-table/request-type-select.html">
    <span ng-if="params.filter().requestType !== undefined && params.filter().requestType !== '' && params.filter().requestType !== null" ng-click="params.filter().requestType = ''" class="md md-remove-circle" style="color: red; float: right; margin-bottom: -11px; font-size: 14px; cursor: pointer"></span>
    <form-control type="select"
                  model="params.filter()[name]"
                  options="suggestion.id as suggestion.title for suggestion in vm.requestTypes"
                  ></form-control>
</script>