<h4 translate="crs.request.requestType.other"></h4>
<form class="form-floating other-type" form-control-readonly="requestVM.request.requestHeader.status !== 'DRAFT'">

    <div class="form-group">
        <form-control type="textarea"
                      model="requestVM.request.requestDescription"
                      label="crs.request.details.label.requestDescription"                      
                      name="requestDescription"
                      required
                      error-model="requestVM.error.requestDescription"></form-control>
    </div>
</form>