<h4 translate="crs.request.requestType.changeRetireRelationship"></h4>
<form class="form-floating" form-control-readonly="requestVM.request.requestHeader.status !== 'DRAFT'">

    <div class="form-group" >

        <form-control type="concept"
                      model="requestVM.originalConcept"
                      label="crs.request.details.label.concept"
                      required
                      error-model="requestVM.error.concept"></form-control>

        <div ng-if="requestVM.request.relationshipCharacteristicType || requestVM.pageMode.value === 'new'" class="multi-select-element" ng-class="{required:true, 'form-control-error': requestVM.error.relationshipId}">
          <label translate="crs.request.details.label.relationship" style="color: red"></label>
          <span ng-if="requestVM.error.relationshipId" translate="crs.request.message.error.fieldRequired" style="color: rgb(169, 68, 66); padding-left: 5px;" class="ng-scope">required</span>
          <div
              isteven-multi-select
              input-model="requestVM.relationshipsFilter"
              output-model="requestVM.selectedRelationships"
              button-label="viewName"
              item-label="viewName"
              tick-property="ticked"
              output-properties="relationshipId"
              max-labels = "1"
              style="margin-bottom: 20px;"
          >
          </div>

          <div ng-if="requestVM.isShowFilter" uib-dropdown is-open="status.isopen" style="width: 50%">
            <button id="single-button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled"> <span style="margin" translate= "{{(requestVM.request.relationshipCharacteristicType === 'STATED_RELATIONSHIP'?'crs.request.details.label.statedRel':'crs.request.details.label.inferredRel')}}" ></span><span style="margin-left:10px" class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
              <li role="menuitem" ng-click="requestVM.filterRelationshipType(requestVM.request.relationshipCharacteristicType, 'menuitem')" translate='crs.request.details.label.statedRel' ng-model="requestVM.request.relationshipCharacteristicType" uib-btn-radio="'STATED_RELATIONSHIP'" class="filter-relationship"></li>
              <li role="menuitem" ng-click="requestVM.filterRelationshipType(requestVM.request.relationshipCharacteristicType, 'menuitem')" translate='crs.request.details.label.inferredRel' ng-model="requestVM.request.relationshipCharacteristicType" uib-btn-radio="'INFERRED_RELATIONSHIP'" class="filter-relationship"></li>
            </ul>
          </div>
        </div>
        <div ng-if="!requestVM.request.relationshipCharacteristicType && requestVM.pageMode.value !== 'new'">
          <form-control type="text"
                      model="requestVM.requestItems[0].relationshipId"
                      label="crs.request.details.label.relationship"
                      readonly></form-control>
        </div>
        
        <form-control type="select"
                      model="requestVM.request.relationshipStatus"
                      options="relationshipStatus for relationshipStatus in requestVM.relationshipStatuses"
                      label="crs.request.details.label.relationshipStatus"
                      required
                      name="slRelationshipStatus"
                      error-model="requestVM.error.relationshipStatus"></form-control>                      
    </div>
</form>