<form class="form-floating" form-control-readonly="isStatic">

    <div class="form-group">
        <form-control type="select"
                      model="definitionOfChanges.descriptionStatus"
                      options="descriptionStatus for descriptionStatus in requestMetadata.descriptionStatuses"
                      label="crs.request.details.label.descriptionStatus"
                      title="{{'tooltips.request.details.label.descriptionStatus' | translate}}"
                      name="slDescriptionStatus"
                      ng-if="isLagacyDescriptionInactivationReason"></form-control>
                      
        <form-control type="select"
                      model="definitionOfChanges.descriptionStatus"
                      options="descriptionStatus.text as descriptionStatus.text for descriptionStatus in requestMetadata.descriptionInactivationReasons"
                      label="crs.request.details.label.descriptionStatus"
                      title="{{'tooltips.request.details.label.descriptionStatus' | translate}}"
                      name="slDescriptionStatus"
                      ng-if="!isLagacyDescriptionInactivationReason"></form-control>        

        <form-control type="textarea"
                      model="definitionOfChanges.reasonForChange"
                      label="crs.request.details.label.reasonForChange"
                      title="{{'crs.request.details.label.reasonForChange' | translate}}"
                      name="slRefinability"></form-control>
    </div>
</form>