<h4 translate="crs.request.requestType.newDescription"></h4>
<form class="form-floating" form-control-readonly="requestVM.request.requestHeader.status !== 'DRAFT'">

    <div class="form-group">

        <form-control type="concept"
                      model="requestVM.originalConcept"
                      label="crs.request.details.label.concept"
                      required
                      error-model="requestVM.error.concept"></form-control>

        <form-control type="text"
                      model="requestVM.request.proposedDescription"
                      label="crs.request.details.label.description"
                      name="txtDescription"
                      required
                      error-model="requestVM.error.proposedDescription"></form-control>

        <div class="form-control-element">
            <input type="checkbox"
                   ng-model="requestVM.request.descriptionIsPT"
                   name="chkIsPT">
            <label >Description is PT</label>
        </div>
    </div>
</form>