<h4 translate="crs.request.requestType.newRelationship"></h4>
<form class="form-floating" form-control-readonly="requestVM.request.requestHeader.status !== 'DRAFT'">

    <div class="form-group">

        <form-control type="concept"
                      model="requestVM.originalConcept"
                      label="crs.request.details.label.sourceConcept"
                      required
                      error-model="requestVM.error.concept"></form-control>

        <form-control type="relationshipType"
                      model="requestVM.request.relationshipType"
                      label="crs.request.details.label.relationshipType"
                      parent-relationships="requestVM.originalConcept.relationships"
                      required
                      error-model="requestVM.error.relationshipType"></form-control>

        <form-control type="concept"
                      model="requestVM.request.destinationConcept"
                      label="crs.request.details.label.destinationConcept"
                      required
                      error-model="requestVM.error.destinationConcept"></form-control>

        <form-control type="select"
                      model="requestVM.request.characteristicType"
                      options="characteristicType for characteristicType in requestVM.characteristicTypes"
                      label="crs.request.details.label.characteristicType"
                      name="slCharacteristicType"></form-control>

        <form-control type="select"
                      model="requestVM.request.refinability"
                      options="refinability for refinability in requestVM.refinabilities"
                      label="crs.request.details.label.refinability"
                      name="slRefinability"></form-control>

    </div>
</form>