<h4 translate="crs.request.requestType.retireDescription"></h4>
<form class="form-floating" form-control-readonly="requestVM.request.requestHeader.status !== 'DRAFT'">

    <div class="form-group">

        <form-control type="concept"
                      model="requestVM.originalConcept"
                      label="crs.request.details.label.concept"
                      required
                      error-model="requestVM.error.concept"
                      concept-status="requestVM.conceptStatus"></form-control>

        <form-control type="select"
                      model="requestVM.request.descriptionId"
                      options="suggestion.descriptionId as suggestion.term for suggestion in requestVM.originalConcept.descriptions"
                      label="crs.request.details.label.currentDescription"
                      name="slCurrentDescription"
                      required
                      error-model="requestVM.error.descriptionId"
                      loading-mask="requestVM.conceptStatus.loading || requestVM.conceptStatus.searching"></form-control>

        
        <form-control type="select"
                      model="requestVM.request.descriptionStatus"
                      options="descriptionStatus for descriptionStatus in requestVM.descriptionStatuses"
                      label="crs.request.details.label.descriptionStatus"
                      name="slDescriptionStatus"
                      required
                      error-model="requestVM.error.descriptionId"></form-control>

    </div>
</form>