<h4 translate="crs.request.requestType.newConcept"></h4>
<form class="form-floating">

    <div class="form-group">
        <!--<form-control type="text"
                      model="requestVM.request.requestorInternalId"
                      label="crs.request.details.label.requestorInternalId"
                      name="txtRequestorInternalId"></form-control>-->

        <!--<div>
            <div class="form-control-element">
                <label >Parent Concept Id</label>
                <input class="form-control" type="text" ng-model="requestVM.request.parentId"/>
            </div>
            <div class="form-control-element">
                <label >Parent Concept FSN</label>
                <input class="form-control" type="text" ng-model="requestVM.request.parentFSN"/>
            </div>
        </div>-->
        <!--<div class="form-control-element"
             >
            <label >Parent Concept </label>
            <input class="form-control" type="text"
                   ng-model="requestVM.request.parent.name"
                   drag-enter-class="sca-drag-target"
                   drag-hover-class="sca-drag-hover"
                   drop-channel="conceptPropertiesObj"
                   ui-on-drop="requestVM.dropConcept('parent', $data)"
                   uib-typeahead="suggestion as suggestion.fsn for suggestion in requestVM.getConceptsForValueTypeahead($viewValue)"
                   typeahead-loading="targetTypeaheadLoading"
                   typeahead-focus-first="false"
                   typeahead-wait-ms="700"
                   typeahead-on-select="setRelationshipTargetConceptFromMrcm(relationship, $item)"
                   typeahead-editable="false" typeahead-min-length="3"/>
        </div>-->

        <form-control type="concept"
                      model="requestVM.request.parentConcept"
                      label="crs.request.details.label.parentConcept"></form-control>

        <form-control type="text"
                      model="requestVM.request.proposedFSN"
                      label="crs.request.details.label.proposedFSN"
                      name="txtFSN"
                      required></form-control>
        <form-control type="text"
                      model="requestVM.request.conceptPT"
                      label="crs.request.details.label.conceptPT"
                      name="txtPT"
                      required></form-control>

        <!--<div class="form-control-element">
            <label >Synonym</label>
            <input class="form-control" type="text" ng-model="requestVM.request.proposedSynonym"/>
        </div>-->
        <form-control type="text"
                      model="requestVM.request.proposedSynonyms"
                      label="crs.request.details.label.proposedSynonym"
                      multi="true"></form-control>

        <!--<form-control type="text"
                      model="requestVM.request.proposedDefinition"
                      label="crs.request.details.label.proposedDefinition"
                      name="txtDefinition"></form-control>-->
        <form-control type="text"
                      model="requestVM.request.proposedDefinitions"
                      label="crs.request.details.label.proposedDefinition"
                      multi="true"></form-control>
    </div>
</form>