<h4 >{{requestVM.pageMode.langKey | translate}}</h4>
<form class="form-floating" form-control-readonly="requestVM.request.requestHeader.status !== 'DRAFT'">

    <div class="form-group" >

        <form-control type="text"
                      model="requestVM.request.requestorInternalId"
                      label="crs.request.details.label.requestorInternalId"
                      title="{{'tooltips.request.details.label.requestorInternalId' | translate}}"
                      error-model="requestVM.error.requestorInternalId"></form-control>

        <form-control type="text"
                      model="requestVM.request.additionalFields.topic"
                      label="crs.request.details.label.topic"
                      title="{{'tooltips.request.details.label.topic' | translate}}"
                      name="txtTopic"
                      required
                      error-model="requestVM.error.topic"></form-control>
        <form-control type="text"
                      model="requestVM.request.additionalFields.summary"
                      label="crs.request.details.label.summary"
                      title="{{'tooltips.request.details.label.summary' | translate}}"
                      name="txtReference"
                      required
                      error-model="requestVM.error.summary"></form-control>

        <form-control type="textarea"
                      model="requestVM.request.additionalFields.reasonForChange"
                      label="crs.request.details.label.reasonForChange"
                      title="{{'tooltips.request.details.label.reasonForChange' | translate}}"
                      name="txtReasonForChange"
                      required
                      error-model="requestVM.error.reasonForChange"></form-control>
        <!-- <div ng-if="requestVM.requestType.value !== 'NEW_CONCEPT'">
          <form-control type="select"
                        model="requestVM.request.sourceTerminology"
                        label="crs.request.details.label.sourceTerminology"
                        title="{{'tooltips.request.details.label.sourceTerminology' | translate}}"
                        options="suggestion.sourceTerminology as suggestion.terminologyName for suggestion in requestVM.sourceTerminologies"></form-control>
        </div> -->

        <div ng-if="requestVM.requestType.value === 'NEW_RELATIONSHIP' || requestVM.requestType.value === 'RETIRE_RELATIONSHIP' || requestVM.requestType.value === 'CHANGE_RELATIONSHIP'">
          <form-control type="select"
                        model="requestVM.request.destinationTerminology"
                        label="crs.request.details.label.destinationTerminology"
                        title="{{'tooltips.request.details.label.destinationTerminology' | translate}}"
                        options="suggestion.destinationTerminology as suggestion.terminologyName for suggestion in requestVM.destinationTerminologies"></form-control>
        </div>

        <form-control type="textarea"
                      model="requestVM.request.additionalFields.notes"
                      label="crs.request.details.label.notes"
                      title="{{'tooltips.request.details.label.notes'| translate}}"
                      name="txtNotes"></form-control>

        <form-control type="textarea"
                      model="requestVM.request.additionalFields.reference"
                      label="crs.request.details.label.reference"
                      title="{{'tooltips.request.details.label.reference' | translate}}"
                      name="txtReference"></form-control>
        <form-control type="text"
                      model="requestVM.request.additionalFields.namespace"
                      label="crs.request.details.label.namespace"
                      title="{{'tooltips.request.details.label.namespace' | translate}}"
                      name="txtReference"></form-control>
        <div ng-if="requestVM.requestType.value === 'NEW_CONCEPT'">        
        <form-control type="select"
                      model="requestVM.request.value"
                      label="crs.request.details.label.semanticTag"
                      title="{{'tooltips.request.details.label.semanticTag' | translate}}"
                      options="suggestion.value as suggestion.value for suggestion in requestVM.semanticTags"
                      required
                      error-model="requestVM.error.value"></form-control>
        <form-control type="text"
                      model="requestVM.request.requestorInternalTerm"
                      label="crs.request.details.label.localTerm"
                      title="{{'tooltips.request.details.label.localTerm' | translate}}"
                      name="txtReference"></form-control>
        <form-control type="text"
                      model="requestVM.request.proposedUse"
                      label="crs.request.details.label.proposedUse"
                      title="{{'tooltips.request.details.label.proposedUse' | translate}}"
                      name="txtReference"></form-control>
        <form-control type="text"
                      model="requestVM.request.umlsCui"
                      label="crs.request.details.label.umlsCui"
                      title="{{'tooltips.request.details.label.umlsCui' | translate}}"
                      name="txtReference"></form-control></div>
        
    </div>
</form>