<h4 translate="crs.request.requestType.changeRetireConcept"></h4>
<form class="form-floating" form-control-readonly="requestVM.request.requestHeader.status !== 'DRAFT'">

    <div class="form-group">
        <form-control type="concept"
                      model="requestVM.originalConcept"
                      label="crs.request.details.label.concept"
                      required
                      error-model="requestVM.error.concept"></form-control>

        <form-control type="text"
                      model="requestVM.request.proposedFSN"
                      label="crs.request.details.label.proposedFSN"
                      name="txtFSN"></form-control>

        <form-control type="select"
                      model="requestVM.request.proposedStatus"
                      options="newConceptStatus for newConceptStatus in requestVM.newConceptStatuses"
                      label="crs.request.details.label.proposedStatus"
                      name="slNewConceptStatus"></form-control>

        <form-control type="concept"
                      model="requestVM.duplicateConcept"
                      label="crs.request.details.label.duplicateConcept"
                      error-model="requestVM.error.concept"></form-control>

        <form-control type="select"
                      model="requestVM.request.historyAttribute"
                      options="historyAttribute for historyAttribute in requestVM.historyAttributes"
                      label="crs.request.details.label.historyAttribute"
                      name="slHistoryAttribute"></form-control>


        <form-control type="text"
                      model="requestVM.request.historyAttributeValue"
                      label="crs.request.details.label.historyAttributeValue"
                      name="txtHistoryAttributeValue"></form-control>
    </div>
</form>