<h4 translate="crs.request.requestType.changeRetireRelationship"></h4>
<form class="form-floating" form-control-readonly="requestVM.request.requestHeader.status !== 'DRAFT'">

    <div class="form-group" >

        <form-control type="concept"
                      model="requestVM.originalConcept"
                      label="crs.request.details.label.concept"
                      required
                      error-model="requestVM.error.concept"></form-control>

        <!-- <form-control type="select"
                      model="requestVM.request.relationshipId"
                      options="suggestion.relationshipId as (suggestion.type.fsn + ' - ' + suggestion.target.fsn) for suggestion in requestVM.originalConcept.relationships |filter:{active:true , characteristicType:requestVM.request.showRel}"
                      label="crs.request.details.label.relationship"
                      name="slRelationship"
                      required
                      error-model="requestVM.error.relationshipId"
                      loading-mask="requestVM.loadingRelationship"></form-control> -->
        <div class="multi-select-element" ng-class="{required:true, 'form-control-error': requestVM.error.relationshipId}">
          <label translate="crs.request.details.label.relationship" style="color: red"></label>
          <span ng-if="requestVM.error.relationshipId" translate="crs.request.message.error.fieldRequired" style="color: rgb(169, 68, 66); padding-left: 5px;" class="ng-scope">required</span>
          <div
              isteven-multi-select
              input-model="requestVM.relationshipsFilter"
              output-model="requestVM.selectedRelationships"
              button-label="viewName"
              item-label="viewName"
              tick-property="ticked"
              output-properties="relationshipId"
              max-labels = "1"
              style="margin-bottom: 20px;"
          >
          </div>

          <div class="" uib-dropdown is-open="status.isopen" style="width: 50%">
            <button id="single-button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled"> <span style="margin" translate= "{{(requestVM.request.characteristicType === 'STATED_RELATIONSHIP'?'crs.request.details.label.statedRel':'crs.request.details.label.inferredRel')}}" ></span><span style="margin-left:10px" class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
              <li role="menuitem" ng-click="requestVM.filterRelationshipType(requestVM.request.characteristicType, 'menuitem')" translate='crs.request.details.label.statedRel' ng-model="requestVM.request.characteristicType" uib-btn-radio="'STATED_RELATIONSHIP'" class="filter-relationship"></li>
              <li role="menuitem" ng-click="requestVM.filterRelationshipType(requestVM.request.characteristicType, 'menuitem')" translate='crs.request.details.label.inferredRel' ng-model="requestVM.request.characteristicType" uib-btn-radio="'INFERRED_RELATIONSHIP'" class="filter-relationship"></li>
            </ul>
          </div>
        </div>



        <form-control type="select"
                      model="requestVM.request.refinability"
                      options="refinability for refinability in requestVM.refinabilities"
                      label="crs.request.details.label.newRefinability"
                      name="slRefinability"></form-control>


        <form-control type="select"
                      model="requestVM.request.relationshipStatus"
                      options="relationshipStatus for relationshipStatus in requestVM.relationshipStatuses"
                      label="crs.request.details.label.relationshipStatus"
                      name="slRelationshipStatus"></form-control>                      

      <!-- <div class="form-control-element" uib-dropdown is-open="status.isopen">
        <button id="single-button"class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled"> <span style="margin" translate= "{{(requestVM.request.characteristicType === 'STATED_RELATIONSHIP'?'crs.request.details.label.statedRel':'crs.request.details.label.inferredRel')}}" ></span><span style="margin-left:10px" class="caret"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
          <li role="menuitem" ng-click="requestVM.filterRelationshipType(requestVM.request.characteristicType, 'menuitem')" translate='crs.request.details.label.statedRel' ng-model="requestVM.request.characteristicType" uib-btn-radio="'STATED_RELATIONSHIP'" class="filter-relationship"></li>
          <li role="menuitem" ng-click="requestVM.filterRelationshipType(requestVM.request.characteristicType, 'menuitem')" translate='crs.request.details.label.inferredRel' ng-model="requestVM.request.characteristicType" uib-btn-radio="'INFERRED_RELATIONSHIP'" class="filter-relationship"></li>
        </ul>
      </div> -->
    </div>
</form>