<h4 translate="crs.request.requestType.changeRelationship"></h4>
<form class="form-floating" form-control-readonly="requestVM.request.requestHeader.status !== 'DRAFT'">

    <div class="form-group">

        <form-control type="concept"
                      model="requestVM.originalConcept"
                      label="crs.request.details.label.concept"
                      title="{{'tooltips.request.details.label.concept' | translate}}"
                      required
                      error-model="requestVM.error.concept"></form-control>

        <div ng-if="requestVM.request.relationshipCharacteristicType || requestVM.pageMode.value === 'new' ">
        <form-control type="select"
                      model="requestVM.request.relationshipId"
                      options="suggestion.relationshipId as (suggestion.type.fsn + ' - ' + suggestion.target.fsn) for suggestion in requestVM.originalConcept.relationships |filter:{active:true , characteristicType:requestVM.request.showRel}"
                      label="crs.request.details.label.relationship"
                      title="{{'tooltips.request.details.label.relationship' | translate}}"
                      name="slRelationship"
                      required
                      error-model="requestVM.error.relationshipId"
                      loading-mask="requestVM.loadingRelationship"
                      ></form-control>
        </div>
        <br/>
        <div ng-if="requestVM.request.relationshipCharacteristicType || requestVM.pageMode.value === 'new'" class="form-control-element" style="margin-left: 0px; margin-top: -27px;" uib-dropdown is-open="status.isopen">
          <button id="single-button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled"> <span translate= "{{(requestVM.request.showRel === 'STATED_RELATIONSHIP'?'crs.request.details.label.statedRel':'crs.request.details.label.inferredRel')}}" ></span><span style="margin-left:10px" class="caret"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
            <li role="menuitem" ng-click="requestVM.filterRelationshipType(requestVM.request.showRel, 'menuitem')" translate='crs.request.details.label.statedRel' ng-model="requestVM.request.showRel" uib-btn-radio="'STATED_RELATIONSHIP'" class="filter-relationship"></li>
            <li role="menuitem" ng-click="requestVM.filterRelationshipType(requestVM.request.showRel, 'menuitem')" translate='crs.request.details.label.inferredRel' ng-model="requestVM.request.showRel" uib-btn-radio="'INFERRED_RELATIONSHIP'" class="filter-relationship"></li>
          </ul>
        </div>

        <div ng-if="!requestVM.request.relationshipCharacteristicType && requestVM.pageMode.value !== 'new'">
          <form-control type="text"
                        model="requestVM.requestItems[0].relationshipId"
                        label="crs.request.details.label.relationship"
                        title="{{'tooltips.request.details.label.relationship' | translate}}"
                        readonly></form-control>
        </div>

        <form-control type="relationshipType"
                      model="requestVM.request.relationshipType"
                      label="crs.request.details.label.proposedRelationshipType"
                      title="{{'tooltips.request.details.label.proposedRelationshipType' | translate}}"
                      parent-relationships="requestVM.originalConcept.relationships"
                      error-model="requestVM.error.relationshipType"></form-control>

        <form-control type="attributeValue"
                      model="requestVM.request.destinationConcept"
                      label="crs.request.details.label.proposedDestinationConcept"
                      title="{{'tooltips.request.details.label.proposedDestinationConcept' | translate}}"
                      domain-attribute="requestVM.request.relationshipType"
                      error-model="requestVM.error.destinationConcept"></form-control>

        <form-control type="select"
                      model="requestVM.request.characteristicType"
                      options="characteristicType for characteristicType in requestVM.characteristicTypes"
                      label="crs.request.details.label.proposedCharacteristicType"
                      title="{{'tooltips.request.details.label.proposedCharacteristicType' | translate}}"
                      name="slCharacteristicType"></form-control>

        <form-control type="select"
                      model="requestVM.request.refinability"
                      options="refinability for refinability in requestVM.refinabilities"
                      label="crs.request.details.label.proposedRefinability"
                      title="{{'tooltips.request.details.label.proposedRefinability' | translate}}"
                      name="slRefinability"></form-control>

        <form-control type="text"
                      model="requestVM.request.groupId"
                      label="crs.request.details.label.groupId"
                      title="{{'tooltips.request.details.label.groupId' | translate}}"
                      name="txtHistoryAttributeValue"></form-control>

        <!-- <form-control type="select"
                      model="requestVM.request.relationshipStatus"
                      options="relationshipStatus for relationshipStatus in requestVM.relationshipStatuses"
                      label="crs.request.details.label.relationshipStatus"
                      name="slRelationshipStatus"></form-control>      -->                 

      
    </div>
</form>