<h4 translate="crs.request.requestType.newDescription"></h4>
<form class="form-floating">

    <div class="form-group">
        <!--<form-control type="text"
                      model="requestVM.request.requestorInternalId"
                      label="crs.request.details.label.requestorInternalId"
                      name="txtRequestorInternalId"></form-control>-->

        <!--<div>
            <div class="form-control-element required">
                <label >Concept Id</label>
                <input class="form-control" type="text" ng-model="requestVM.request.conceptId"/>
            </div>
            <div class="form-control-element required">
                <label >Concept FSN</label>
                <input class="form-control" type="text" ng-model="requestVM.request.conceptFSN"/>
            </div>
        </div>
        <br/>-->

        <form-control type="concept"
                      model="requestVM.originalConcept"
                      label="crs.request.details.label.concept"
                      required></form-control>

        <form-control type="text"
                      model="requestVM.request.proposedDescription"
                      label="crs.request.details.label.description"
                      name="txtDescription"
                      required></form-control>

        <div class="form-control-element">
            <input type="checkbox"
                   ng-model="requestVM.request.descriptionIsPT"
                   name="chkIsPT">
            <label >Description is PT</label>
        </div>
    </div>
</form>