<div ng-controller="RequestListCtrl as vm">
    <!-- Submitted Requests -->
    <section ng-cloak ng-if="vm.submittedTableParams" class="tables-data">
        <div class="card">
            <div class="row">
                <div class="col-md-4 no-padding">
                    <h3 class="table-title p-20" translate="crs.request.list.title.submittedRequests"></h3>
                </div>
                <div class="col-md-6">
                    <!-- <div class="table-search">
                        <input type="text" ng-model="vm.submittedTableParams.filter()['search']" class="form-control"
                               placeholder="{{'crs.request.list.searchPlaceHolder.submittedRequests' | translate}}" autofocus/>
                    </div> -->
                </div>
                <div class="col-md-2">
                    <div class="pull-right p-t-20">
                        <!-- <button ng-click="vm.showFilter = !vm.showFilter" class="btn btn-round btn-default" title="{{'crs.request.list.tip.filter' | translate}}">
                            <span class="md md-search"></span>
                            <div class="ripple-wrapper"></div>
                        </button> -->
                        <button type="button" class="btn btn-round btn-info ng-scope " title="{{'crs.request.list.tip.count' | translate}}" >
                            {{vm.submittedTableParams.total()}} <div class="ripple-wrapper"></div>
                        </button>
                        <!--<button type="button" class="btn btn-round btn-default " title="{{'crs.request.list.tip.assign' | translate}}" ng-click="vm.assignSubmittedRequests()">
                            <span class="md md-content-paste"></span>
                            <div class="ripple-wrapper"></div>
                        </button>-->
                    </div>
                </div>
            </div>
            <div class="table-responsive white" style="min-height: 416px;">
                <table ng-table="vm.submittedTableParams" template-pagination="layout/template/review-table-pager.html"
                       class="table table-full table-full-small table-requests" show-filter="">
                    <tr ng-repeat="request in $data" ng-click="dashboard.previewRequest(request.id)" class="clickable-row">
                        <!--<td class="col-checkbox" header="'ng-table/headers/checkbox.html'" ng-click="$event.stopPropagation()">
                            <input type="checkbox" class="small-checkbox" ng-model="vm.selectedSubmittedRequests.items[request.id]" >
                        </td>-->
                        <td data-title="'crs.request.list.tableHeader.requestId' | translate" sortable="'id'" filter="vm.filterRequests.requestId">
                            {{request.id}}
                        </td>
                        <td data-title="'crs.request.list.tableHeader.batchId' | translate" sortable="'batchRequest'" filter="vm.filterRequests.batchRequest">
                            <!--<a class="tooltips-right" ng-href="#/batches/view/{{request.batchRequest}}">{{request.batchRequest}} <span translate="crs.request.list.tip.batchId"></span></a>-->
                            {{request.batchRequest}}
                        </td>
                        <td data-title="'crs.request.list.tableHeader.conceptFSN' | translate" sortable="'fsn'" filter="vm.filterRequests.fsn">
                            <!--<a class="tooltips-right" ng-href="#/requests/edit/{{request.id}}">{{request.fsn}} <span translate="crs.request.list.tip.conceptFSN"></span></a>-->
                            {{request.fsn}}
                        </td>
                        <td data-title="'crs.request.list.tableHeader.ticketId' | translate" sortable="'jiraTicketId'" jira-link="request.jiraTicketId" filter="vm.filterRequests.jiraTicketId"></td>
                        <td data-title="'crs.request.list.tableHeader.lastModified' | translate" sortable="'requestHeader.statusDate'" filter="{requestDate: 'ng-table/datetime-picker-startdate.html'}">
                            {{request.requestHeader.statusDate | date:'dd-MM-yyyy'}}
                        </td>
                        <td data-title="'crs.request.list.tableHeader.requestType' | translate" sortable="'requestType'" filter="{requestType: 'ng-table/request-type-select.html'}">
                            {{request.requestType | requestType | translate}}
                        </td>
                        <td data-title="'crs.request.list.tableHeader.topic' | translate" sortable="'additionalFields.topic'" filter="vm.filterRequests.topic">
                            {{(request.additionalFields)?request.additionalFields.topic:''}}
                        </td>

                        <td data-title="'crs.request.list.tableHeader.summary' | translate" sortable="'additionalFields.summary'">
                            {{(request.additionalFields)?request.additionalFields.summary:''}}
                        </td>
                        <td data-title="'crs.request.list.tableHeader.manager' | translate" sortable="'requestHeader.manager'" style="min-width: 150px" filter="{manager: 'ng-table/manager-select.html'}">
                            <span ng-show="vm.loadingAuthors" class="md md-autorenew" ng-class="{'md-spin':vm.loadingAuthors}"></span>
                            <div  ng-bind-html="(vm.getAuthorName(request.requestHeader.manager))?vm.getAuthorName(request.requestHeader.manager):request.requestHeader.manager"></div>
                        </td>
                        <td data-title="'crs.request.list.tableHeader.originator' | translate" sortable="'requestHeader.ogirinatorId'" style="min-width: 150px" filter="{author: 'ng-table/author-select.html'}">
                            <span ng-show="vm.loadingAuthors" class="md md-autorenew" ng-class="{'md-spin':vm.loadingAuthors}"></span>
                            <div ng-if="!vm.loadingAuthors" ng-bind-html="(vm.getAuthorName(request.requestHeader.ogirinatorId))?vm.getAuthorName(request.requestHeader.ogirinatorId):request.requestHeader.ogirinatorId"></div>
                        </td>
                        <td data-title="'crs.request.list.tableHeader.status' | translate" sortable="'requestHeader.status'" filter="{status: 'ng-table/status-select.html'}">
                            <span class="badge requestStatus {{request.requestHeader.status}}">{{request.requestHeader.status | requestStatus | translate}}</span>
                        </td>
                    </tr>
                </table>
                <div ng-if="vm.requests.total === 0" class="no-request-found">
                    No request found!
                </div>
            </div>

        </div>
    </section>
</div>
<script type="text/ng-template" id="ng-table/headers/checkbox.html">
</script>
<script type="text/ng-template" id="ng-table/datetime-picker-startdate.html">
    <div class="input-group select-filter">
          <span ng-if="(vm.daterangeSQ.startDate !== undefined && vm.daterangeSQ.endDate !== undefined) && (vm.daterangeSQ.startDate !== '' && vm.daterangeSQ.endDate !== '') && (vm.daterangeSQ.startDate !== null && vm.daterangeSQ.endDate !== null)" ng-click="vm.onDateRangeChangeSQ(true)" class="md md-remove-circle" style="color: red; float: right; margin-bottom: -16px; cursor: pointer"></span>
        <input type="text" class="" ng-change="vm.onDateRangeChangeSQ()" placeholder="Dates..." readonly="" options="vm.options" name="some_name" ng-model="vm.daterangeSQ" style="background: transparent; border: none; box-shadow: inset 0 -1px 0 #ddd; font-size: 13px;" date-range-picker /> 
    </div>
</script>
<script type="text/ng-template" id="ng-table/manager-select.html">
    <span ng-if="params.filter().manager !== undefined && params.filter().manager !== '' && params.filter().manager !== null" ng-click="params.filter().manager = null" class="md md-remove-circle" style="color: red; float: right; margin-bottom: -11px; font-size: 14px; cursor: pointer"></span>
    <form-control type="select"
                  model="params.filter()[name]"
                  options="suggestion.id as suggestion.title for suggestion in vm.staffs"
                  ></form-control>
</script>
<script type="text/ng-template" id="ng-table/author-select.html">
    <span ng-if="params.filter().author !== undefined && params.filter().author !== '' && params.filter().author !== null" ng-click="params.filter().author = ''" class="md md-remove-circle" style="color: red; float: right; margin-bottom: -11px; font-size: 14px; cursor: pointer"></span>
    <form-control type="select"
                  model="params.filter()[name]"
                  options="suggestion.id as suggestion.title for suggestion in vm.authors"
                  ></form-control>
</script>
<script type="text/ng-template" id="ng-table/status-select.html">
    <span ng-if="params.filter().status !== undefined && params.filter().status !== '' && params.filter().status !== null" ng-click="params.filter().status = ''" class="md md-remove-circle" style="color: red; float: right; margin-bottom: -11px; font-size: 14px; cursor: pointer"></span>
    <form-control type="select"
                  model="params.filter()[name]"
                  options="suggestion.id as suggestion.title for suggestion in vm.requestStatus"
                  ></form-control>
</script>
<script type="text/ng-template" id="ng-table/request-type-select.html">
    <span ng-if="params.filter().requestType !== undefined && params.filter().requestType !== '' && params.filter().requestType !== null" ng-click="params.filter().requestType = ''" class="md md-remove-circle" style="color: red; float: right; margin-bottom: -11px; font-size: 14px; cursor: pointer"></span>
    <form-control type="select"
                  model="params.filter()[name]"
                  options="suggestion.id as suggestion.title for suggestion in vm.requestTypes"
                  ></form-control>
</script>