<div id="request-info-panel" style="padding-top: 10px">
    <!-- Timeline formatter and concept ids.extension input -->
       <div class="row">
        <div class="col col-md-12">
            <h4 >Batch Details</h4>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-12">

            <ul class="timeline">
                <li>
                    <div class="timeline-badge">
                        <i class="icon-circle theme-border"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <label class="control-label" translate="crs.batch.details.info.label.batchId"></label>
                            <h4 class="timeline-title">{{(batchVM.batchSummary.id)?batchVM.batchSummary.id:'N/A'}}</h4>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="timeline-badge">
                        <i class="icon-circle theme-border"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <label class="control-label" translate="crs.batch.details.info.label.jiraTicket"></label>
                            <h4 class="timeline-title">{{(batchVM.batchSummary.jiraTicketId)?batchVM.batchSummary.jiraTicketId:'N/A'}}</h4>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="timeline-badge">
                        <i class="icon-circle theme-border"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <label class="control-label" translate="crs.batch.details.info.label.fileName"></label>
                            <h4 class="timeline-title">{{batchVM.batchSummary.fileName}}</h4>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="timeline-badge">
                        <i class="icon-circle theme-border"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <label class="control-label" translate="crs.batch.details.info.label.importedTime"></label>
                            <h4 class="timeline-title">{{batchVM.batchSummary.importedTime | date:'MM-dd-yyyy'}}</h4>
                        </div>
                    </div>
                </li>

            </ul>
        </div>

    </div>

</div>
