<div class="table-responsive white">
    <table ng-table="batchPreviewVM.previewTableParams" template-pagination="layout/template/review-table-pager.html"
           class="table table-full table-full-small">
        <tr ng-repeat="request in $data" ng-class="{'importing-request-error': request.currentValidationStatus !== null}">

            <td style="text-align: center;min-width: initial">
                <a class="tooltips-right" >
                    <button ng-show="request.currentValidationStatus"
                            type="button"
                            class="btn btn-round btn-default lighten-2 red" >
                        <div class="md md-school"></div>  <span class="red" style="text-transform: initial">{{request.currentValidationStatus}}</span>
                    </button>
                </a>
            </td>

            <td data-title="'crs.batch.preview.requestList.tableHeader.topic' | translate" >
                {{request.topic}}
            </td>
            <td data-title="'crs.batch.preview.requestList.tableHeader.summary' | translate">
                {{request.summary}}
            </td>
            <td data-title="'crs.batch.preview.requestList.tableHeader.sourceTerminologyVersion' | translate" >
                {{request.sourceTerminologyVersion}}
            </td>
            <td data-title="'crs.batch.preview.requestList.tableHeader.requestorInternalId' | translate" >
                {{request.requestorInternalId}}
            </td>
            <td data-title="'crs.batch.preview.requestList.tableHeader.localRequestId' | translate" >
                {{request.localRequestId}}
            </td>
            <td data-title="'crs.batch.preview.requestList.tableHeader.parentTerminology1' | translate" >
                {{request.parentTerminology1}}
            </td> 
            <td data-title="'crs.batch.preview.requestList.tableHeader.proposedParentId1' | translate" >
                {{request.proposedParentId1}}
            </td>
            <td data-title="'crs.batch.preview.requestList.tableHeader.parentTerminology2' | translate" >
                {{request.parentTerminology2}}
            </td>
            <td data-title="'crs.batch.preview.requestList.tableHeader.proposedParentId2' | translate" >
                {{request.proposedParentId2}}
            </td>
            <td data-title="'crs.batch.preview.requestList.tableHeader.umlsCui' | translate" >
                {{request.umlsCui}}
            </td>
            <td data-title="'crs.batch.preview.requestList.tableHeader.FSN' | translate" >
                {{request.proposedFSN}}
            </td>
            <td data-title="'crs.batch.preview.requestList.tableHeader.semanticTag' | translate" >
                {{request.semanticTag}}
            </td>
            <td data-title="'crs.batch.preview.requestList.tableHeader.requestorInternalTerm' | translate" >
                {{request.requestorInternalTerm}}
            </td>
            <td data-title="'crs.batch.preview.requestList.tableHeader.proposedUse' | translate" >
                {{request.proposedUse}}
            </td>
            <td data-title="'crs.batch.preview.requestList.tableHeader.preferedTerm' | translate" >
                {{request.conceptPT}}
            </td>
            <td data-title="('crs.batch.preview.requestList.tableHeader.synonym' | translate) + ' (1)'" >
                {{request.proposedSynonyms[0]}}
            </td>
            <td data-title="('crs.batch.preview.requestList.tableHeader.synonym' | translate) + ' (2)'" >
                {{request.proposedSynonyms[1]}}
            </td>
            <td data-title="'crs.batch.preview.requestList.tableHeader.definition' | translate" >
                {{request.proposedDefinition}}
            </td>
            <td data-title="'crs.batch.preview.requestList.tableHeader.reasonForChange' | translate" >
                {{request.reasonForChange}}
            </td>
            <td data-title="'crs.batch.preview.requestList.tableHeader.notes' | translate" >
                {{request.notes}}
            </td>
            <td data-title="'crs.batch.preview.requestList.tableHeader.references' | translate" >
                {{request.reference}}
            </td>
        </tr>
    </table>

</div>