<div id="batchImportModal">


    <div class="modal-header">
        <button type="button" class="close" ng-click="modal.closeModal()">&times;</button>
        <h4 class="modal-title">{{'crs.batch.importModal.title' | translate}}</h4>
    </div>

    <div class="modal-body">
        <div class="col-md-12">
            <form class="form-floating" >
                <div class="form-group" style="margin-bottom: 25px; margin-top: 5px">
                    <!--<label for="requestTypeSelect" translate="crs.request.createModal.requestType.label"></label>
                    <select id="requestTypeSelect" name="select-request-type" class="form-control"
                            ng-model="modal.requestType"
                            ng-options="requestType.value as requestType.langKey | translate for requestType in modal.generalRequestTypes">
                    </select>

                    <br>-->
                    <div ng-if="modal.selectedFile">
                        <label>Selected File</label>
                        <div>{{modal.selectedFile.name}}</div>
                    </div>

                    <div ng-if="modal.uploading">
                        <label>Uploading... <span>{{modal.progress}} %</span></label>
                    </div>

                    <div ng-if="!modal.uploading" ngf-select ngf-drop ng-model="modal.selectedFile" class="drop-box">
                        Select or Drop Batch File Here
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md-12 alert alert-success" ng-show="modal.msgSuccess" >{{modal.msgSuccess | translate}}</div>
        <div class="col-md-12 alert alert-danger" ng-show="modal.msgError" >{{modal.msgError | translate}}</div>
    </div>

    <div class="modal-footer">
        <div class="col-md-6">
            <button type="button" ng-disabled="disabled" class="col-md-12 btn btn-info no-margin "
                    ng-click="modal.importFile()">{{'crs.batch.importModal.button.upload' | translate}}
            </button>
        </div>
        <div class="col-md-6">
            <button type="button" ng-disabled="disabled" class=" col-md-12 btn btn-danger no-margin "
                    ng-click="modal.closeModal()">{{'crs.batch.importModal.button.cancel' | translate}}
            </button>
        </div>
    </div>

</div>


</div>
