<div ng-controller="JiraCommentCtrl as ctrl">
    <h4 style="display: inline-block">Comments </h4> <span style="vertical-align: middle;margin-bottom: 5px;margin-left: 3px" ng-show="ctrl.loadingComment" class="md md-autorenew" ng-class="{'md-spin':ctrl.loadingComment}"></span>

    <div class="comment-container" >
        <div ng-repeat="comment in ctrl.comments track by comment.id" repeat-end class="comment-item">
            <div class="comment-head">
                <div class="comment-details" ng-if="comment.internal === false">
                    <a class="user-avatar" >
                        <img ng-src="{{comment.user.avatarUrls['16x16']}}" alt="comment.user.name" />
                        <span class="user-name">{{comment.user.displayName}}</span>
                    </a>
                    <span>added a comment on</span>
                    <span class="comment-date">{{comment.createDate | date:'MM-dd-yyyy H:mm:ss'}}</span>
                </div>
                <div class="comment-details" ng-if="comment.internal === true">
                    <a class="user-avatar" >
                        <img ng-src="{{comment.user.avatarUrls['16x16']}}" alt="comment.user.name" />
                        <span class="user-name">{{comment.user.displayName}}</span>
                    </a>
                    <span>added an<span style="color: #5cb85c"> internal comment </span>on</span>
                    <span class="comment-date">{{comment.createDate | date:'MM-dd-yyyy H:mm:ss'}}</span>
                </div>
            </div>
            <div class="comment-body">{{comment.body}}</div>
        </div>
    </div>

    <form ng-if="requestVM.permissionChecked && !requestVM.isViewer" class="form-floating" style="margin-top: 30px">
        <div class="row">
            <div class="col-md-11 no-padding">
                <form-control type="textarea" model="ctrl.message"></form-control>
            </div>
            <div class="col-md-1">
                <a class="tooltips-left">
                <button ng-disabled="ctrl.postingComment" class="pointer btn btn-round btn-default lighten-1 blue" ng-click="ctrl.postComment()">
                    <i class="md" ng-class="{'md-forum':!ctrl.postingComment, 'md-spin md-autorenew': ctrl.postingComment}"></i>
                    <span >{{(ctrl.postingComment)?'your comment is being posted':'click to post your comment'}}</span>
                </button>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="form-control-element">
            <input type="checkbox"
                   ng-model="ctrl.internalComment"
                   name="chkIsPT">
            <label>Internal Comment</label>
        </div>
        </div>
    </form>
</div>
