form {
  .form-control-element {
    position: relative;

    &.required {
      label {
        color: red;
      }
    }

    label {
      font-weight: 500;
    }

    input[type="checkbox"]+label {
      vertical-align: bottom;
    }
  }
}
